<div ng-controller="libraryController"><div ng-controller="libraryCompareController">
	<form ng-submit="submit()">
		<div class="alert alert-info">
			<p>Compare the reference library <strong>{{library.title}}</strong> against other libraries.</p>
			<p>Enter the URLs (or just the ID) of the other libraries you wish to compare against. Any differences with individual references will be highlighted.</p>
			<p>This is useful when comparing the post-screening tags you and another researcher may have applied to references to look for conflicts.</p>
		</div>
		<div class="form-horizontal">
			<div ng-if="errors.length" class="alert alert-warning">
				<ul>
					<li ng-repeat="error in errors">{{error.text}}</li>
				</ul>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Library URLs</label>
				<div class="col-sm-10">
					<textarea ng-model="rawUrls" class="form-control" rows="5"></textarea>
					<p class="help-block">Enter the URLs (or IDs) of the other libraries you wish to compare separated by spaces or new lines</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Library ancestors</label>
				<div class="col-sm-10">
					<div ng-if="peersLoading" class="well"><i class="fa fa-spinner fa-spin"></i> Searching for library ancestors...</div>
					<div ng-if="!peersLoading && peers.length">
						<table class="table table-striped table-bordered">
							<thead><tr>
								<td>Name</td>
								<td>Owner(s)</td>
							</tr></thead>
							<tr ng-repeat="peer in peers">
								<td><a ng-click="addPeer(peer)">{{peer.title}}</a></td>
								<td><a ng-click="addPeer(peer)">
									<span ng-repeat="owner in peer.owners" class="badge badge-info">
										<i class="fa fa-user"></i>
										{{owner.name}}
									</span>
								</a></td>
							</tr>
						</table>
					</div>
					<div ng-if="!peersLoading && !peers.length" class="alert alert-warning">No library ancestors found</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button type="submit" ng-class="comparisons.length ? '' : 'disabled'" class="btn btn-success"><i class="fa fa-check"></i> Compare libraries</button>
		</div>
	</form>
</div></div>
