<div ng-controller="libraryController"><div ng-controller="libraryCompareReviewController">
	<div ng-if="loading" class="alert alert-info text-center">
		<div><i class="fa fa-spinner fa-spin fa-3x"></i></div>
		<h3>Loading comparison data...</h3>
	</div>
	<div ng-if="!loading" class="alert">
		<h1>Comparision results</h1>
		<div class="pad-top">
			<table class="table table-bordered table-striped">
				<thead><tr>
					<th>Title</th>
					<th>Owner(s)</th>
				</tr></thead>
				<tr ng-repeat="libraryId in task.result.libraries">
					<td><a href="/#/libraries/{{libraryId}}">{{libraryLookup[libraryId].title || 'Loading...'}}</a></td>
					<td><a href="/#/libraries/{{libraryId}}">
						<span ng-repeat="owner in libraryLookup[libraryId].owners" class="badge badge-info"><i class="fa fa-user"></i> {{owner.name}}</span>
					</a></td>
				</tr>
			</table>
		</div>
		<p>The following table shows any unresolved conflicts. Click any column to override the default selection.</p>
		<div class="text-center pad-top">
			<a ng-click="resubmit()" class="btn"><i class="fa fa-files-o"></i> Redo comparison</a>
		</div>
	</div>
	<div ng-if="!loading && !conflicts.length" class="alert alert-warning">
		<p>No conflicts found.</p>
		<div class="text-center">
			<a href="/#/libraries/{{library._id}}" class="btn">Return to library</a>
		</div>
	</div>
	<div ng-if="!loading && conflicts.length">
		<table ng-repeat="conflict in conflicts" class="table table-bordered table-fixed">
			<thead><tr>
				<th width="100px">Field</th>
				<th ng-repeat="libraryId in conflict.libraries">{{libraryLookup[libraryId].title || 'Loading...'}}</th>
			</tr></thead>
			<tr ng-repeat="(field, row) in conflict.fields">
				<td>{{field}}</td>
				<td ng-repeat="item in row" ng-class="conflict.active[field] == item ? 'success' : ''" ng-click="rowSetActive(conflict, field, item)">
					<div comparison-item="item" comparison-item-field="field"></div>
				</td>
			</tr>
		</table>
	</div>
</div></div>
