<div ng-controller="libraryOperation"><div ng-controller="libraryDedupeController">
	<form ng-submit="submit()">
		<div class="alert alert-info">
			<p><i class="fa fa-question-circle"></i> Attempt to remove duplicates from the <strong>{{library.title}}</strong> reference library.</p>
		</div>
		<div class="alert alert-warning">
			<p><i class="fa fa-exclamation-triangle"></i><strong>Warning</strong></p>
			<p>Deduplication is extremely slow as our servers have shared resources with all user users performing tasks.</p>
			<p>Please try to keep your libraries as small as possible (less than 2k references).</p>
			<p>A desktop application, so deduplication can be performed on your own computer is currently being created as a solution to limited server resources.</p>
		</div>
		<div class="form-horizontal">
			<div ng-if="errors.length" class="alert alert-warning">
				<ul>
					<li ng-repeat="error in errors">{{error.text}}</li>
				</ul>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Filtering</label>
				<div class="col-sm-9">
					<div class="btn-group">
						<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-filter"></i>
							{{filter.title || 'Select a filter...'}}
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li ng-repeat="f in filters"><a ng-click="setFilter(f)">{{f.title}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Perform de-duplication</button>
		</div>
	</form>
</div></div>
