<div ng-controller="libraryController"><div ng-controller="libraryDedupeController">
	<!-- Help text {{{ -->
	<div class="alert alert-info">
		<h3><i class="fa fa-tags"></i> Review duplicates</h3>
		<p>The following records identified as possible duplicates are listed below</p>
		<p>
			You have the option of
			<ol>
				<li>Choosing which fields you wish to retain by individually selecting those fields or</li>
				<li>Selecting "Skip review stage” to accept the deduplicators choice</li>
			</ol>
		</p>
		<div class="text-center">
			<a ng-click="dedupeEnd()" class="btn" tooltip="End the de-duplicate review stage and accept all recommendations" data-tip-placement="bottom"><i class="fa fa-times-sign"></i> Skip review stage</a>
			<a href="/libraries/{{library._id}}" class="btn" tooltip="Retain all the unmerged data below and continue this process at a later date" data-tip-placement="bottom"><i class="fa fa-mail-forward"></i> Come back to this later</a>
		</div>
	</div>
	<!-- }}} -->

	<!-- Loading message {{{ -->
	<div ng-if="loading" class="alert alert-info text-center">
		<div><i class="fa fa-spinner fa-spin fa-3x"></i></div>
		<h3>Loading duplication data...</h3>
	</div>
	<!-- }}} -->

	<!-- Info boxes {{{ -->
	<div ng-if="!loading" class="infobox-container">
		<div class="infobox infobox-green infobox-medium infobox-dark">
			<div class="infobox-icon">
				<i class="fa fa-tag"></i>
			</div>

			<div class="infobox-data">
				<div class="infobox-content">References</div>
				<div class="infobox-content">FIXME</div>
			</div>
		</div>

		<div class="infobox infobox-blue infobox-medium infobox-dark">
			<div class="infobox-icon">
				<i class="fa fa-compress"></i>
			</div>

			<div class="infobox-data">
				<div class="infobox-content">Duplicates</div>
				<div class="infobox-content">FIXME</div>
			</div>
		</div>

		<div class="infobox infobox-grey infobox-medium infobox-dark">
			<div class="infobox-icon">
				<i class="fa fa-trash-o"></i>
			</div>

			<div class="infobox-data">
				<div class="infobox-content">Deleted</div>
				<div class="infobox-content">FIXME</div>
			</div>
		</div>
	</div>
	<!-- }}} -->

	<hr/>

	<!-- Dupe list {{{ -->
	<div ng-if="!loading" class="duplicates">
		<div ng-repeat="reference in references track by reference._id">
			<legend>
				<div class="btn-group pull-left">
					<div class="btn-group">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tag"></i></a>
						<ul class="dropdown-menu">
							<li><a href="/references/edit/FIXME"><i class="fa fa-pencil"></i> Edit reference </a></li>
							<li class="divider"></li>
							<li><a href="/references/delete/FIXME"><i class="fa fa-trash-o"></i> Delete reference</a></li>
						</ul>
					</div>
				</div>
				{{reference.title}}
			</legend>
			<div class="row">
				<table class="table table-bordered table-striped table-hover table-dupes">
					<thead>
						<th width="10%">Field</th>
						<th ng-repeat="dupe in reference.duplicateData" ng-style="{width: (90 / (reference.duplicateData.length)) + '%'}"><a href="/references/{{reference._id}}" target="_blank">#{{$index + 1}}</a></th>
					</thead>
					<tr ng-repeat="field in reference.duplicateDataFields">
						<th>{{field.key}}</th>
						<td ng-repeat="dupe in reference.duplicateData"  ng-class="field.selected[$index] && 'selected'" ng-click="dedupeSetAlternate(reference, field.key, dupe.conflicting[field.key])" class="selectable">
							{{dupe.conflicting[field.key]}}
						</td>
					</tr>
				</table>
				<div class="text-center pad-bottom">
					<div class="btn-group">
						<a class="btn btn-default"><i class="fa fa-expand"></i> Not duplicates</a>
						<a class="btn btn-success"><i class="fa fa-compress"></i> Merge</a>
						<a class="btn btn-default"><i class="fa fa-trash-o"></i> Delete both</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- }}} -->

	<!-- Footer {{{ -->
	<div class="alert alert-info">
		<h3><i class="fa-smile"></i> End of duplicate list</h3>
		<p>There are now more duplicates to review.</p>
		<div class="text-center">
			<a ng-click="dedupeEnd()" class="btn" tooltip="End the de-duplicate review stage" data-tip-placement="bottom"><i class="fa fa-tags"></i> Finish de-dupe review</a>
		</div>
	</div>
	<!-- }}} -->
</div></div>
