<div ng-controller="libraryOperation" class="row-fluid">
	<legend>Export library</legend>
	<div class="form-horizontal">
		<div ng-controller="libraryListController" class="form-group">
			<label class="col-sm-2 control-label">Library</label>
			<div class="col-sm-10">
				<div class="btn-group">
					<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-tags"></i>
						{{library.title || 'Select a library...'}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="library in libraries track by library._id">
							<a ng-click="setLibrary(library)">
								<i class="fa fa-tags"></i>
								{{library.title}}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Output format</label>
			<div class="col-sm-10">
				<div class="btn-group">
					<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-tags"></i>
						{{format.name || 'Select a output format...'}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="format in formats track by format._id">
							<a ng-click="setFormat(format)">
								<i class="fa fa-tags"></i>
								{{format.name}}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="form-group text-center">
			<a href="/api/libraries/{{library._id}}/export/{{format.id}}" type="submit" class="btn btn-lg btn-success">
				<i class="fa fa-download"></i>
				Download
			</a>
		</div>
	</div>
</div>
