<div ng-controller="libraryOperation" class="row-fluid">
	<legend>Import a library file</legend>
	<form action="/api/libraries/import" method="post" enctype="multipart/form-data" class="form-horizontal">
		<div ng-controller="libraryListController" class="form-group">
			<label class="col-sm-2 control-label">Import into</label>
			<div class="col-sm-10">
				<div class="btn-group">
					<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-tags"></i>
						{{library.title || 'Select a library...'}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="library in libraries track by library._id">
							<a ng-click="setLibrary(library)">
								<i class="fa fa-tags"></i>
								{{library.title}}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-show="library._id == 'new'" class="form-group">
			<label class="col-sm-2 control-label">Library name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="libraryTitle" ng-model="newLibrary.name"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">File to upload</label>
			<div class="col-sm-10">
				<file-upload/>
			</div>
		</div>
		<div class="form-group text-center">
			<button type="submit" class="btn btn-lg btn-success">
				<i class="fa fa-upload"></i>
				Upload
			</button>
		</div>
	</form>
</div>
