<div ng-controller="libraryOperation" class="row-fluid">
	<legend>Perform an operation on a library</legend>
	<div ng-if="error" class="alert alert-danger">{{error}}</div>
	<form ng-submit="submit()" class="form-horizontal">
		<div ng-controller="libraryListController" class="form-group">
			<label class="col-sm-2 control-label">Reference Library</label>
			<div class="col-sm-10">
				<div class="btn-group">
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-tags"></i>
						{{library.title || 'Select a library...'}}
						<i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="library in libraries track by library._id">
							<a ng-click="setLibrary(library)">
								<i class="fa fa-tags"></i>
								{{library.title}}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Operation</label>
			<div class="col-sm-10">
				<div class="btn-group">
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-wrench"></i>
						{{operation.title}}
						<i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="operation in operations track by operation.id">
							<a ng-click="setOperation(operation)">
								<i class="fa fa-wrench"></i>
								{{operation.title}}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-lg btn-success"><i class="fa fa-check"></i> Perform the operation</button>
		</div>
	</form>
</div>
