<div ng-controller="libraryOperation" class="row-fluid">
	<legend>Journal request</legend>

	<div class="alert alert-danger">
		<h2>Journal requesting temporarily disabled</h2>
		<p>Unfortunately the Bond University Library has changed their internal journal requesting systems.</p>
		<p>Please bare with us while we resolve the issue.</p>
		<p>If you have any questions please <a href="mailto:matt_carter@bond.edu.au">contact us</a>.</p>
	</div>

	<!--
	<form ng-controller="libraryRequestController" ng-submit="submit()" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">University</label>
			<div class="col-sm-10">
				<div class="btn-group">
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-university"></i>
						Bond University
						<i class="fa fa-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a ng-click="">
								<i class="fa fa-university"></i>
								Bond University
							</a>
						</li>
					</ul>
				</div>
				<p class="help-block"><strong>BETA</strong> - Currently we are limited to Bond University Journal requests. If you would like to list your own institution please <a href="mailto:matt_carter@bond.edu.au">contact us</a>.</p>
			</div>
		</div>

		<div ng-controller="libraryListController" class="form-group">
			<label class="col-sm-2 control-label">Reference Library</label>
			<div class="col-sm-10">
				<div class="btn-group">
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-tags"></i>
						{{library.title || 'Select a library...'}}
						<i class="fa fa-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="library in libraries track by library._id">
							<a ng-click="setLibrary(library)">
								<i class="fa fa-tags"></i>
								{{library.title}}
							</a>
						</li>
					</ul>
				</div>
				<p class="help-block" ng-if="library.referenceCount">{{library.referenceCount}} references in library</p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Filtering</label>
			<div class="col-sm-10">
				<div class="btn-group">
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-filter"></i>
						{{filter.title || 'Select a filter...'}}
						<i class="fa fa-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="f in filters"><a ng-click="setFilter(f)">{{f.title}}</a></li>
					</ul>
				</div>
			</div>
		</div>

		<legend>Your information</legend>
		<p class="text-center">The following information is saved in <a href="#/profile">your profile</a> automatically</p>

		<div class="form-group">
			<label class="col-sm-3 control-label">Name</label>
			<div class="col-sm-9">
				<input ng-model="user.name" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input ng-model="user.email" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Title</label>
			<div class="col-sm-9">
				<input ng-model="user.title" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Library Number</label>
			<div class="col-sm-9">
				<input ng-model="user.libraryNo" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Faculty</label>
			<div class="col-sm-9">
				<select ng-model="user.faculty" class="form-control">
					<option>Please Select...</option>
					<option value="BUS">Business</option>
					<option value="Bond College">Bond College</option>
					<option value="BUELI">BUELI</option>
					<option value="HSM">Health Sciences and Medicine</option>
					<option value="Law">Law</option>
					<option value="FSD">Society and Design</option>
					<option value="Library">Library</option>
					<option value="Other">Other</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Position</label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label><input ng-model="user.position.undergrad" type="checkbox"> Undergrad</label>
					<label><input ng-model="user.position.postgrad" type="checkbox"> Postgrad</label>
					<label><input ng-model="user.position.phd" type="checkbox"> PhD</label>
					<label><input ng-model="user.position.staff" type="checkbox"> Staff</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">CC me on the email</label>
			<div class="col-sm-9">
				<switch ng-model="ccUser" class="green"></switch>
			</div>
		</div>

		<legend>Submit request</legend>

		<div class="alert alert-warning">
			<p>By submitting this request you confirm that you have: <ol>
				<li>Already searched the Bond library to verify these requests are not already available</li>
				<li>Declared that this request is for research or study and not for any other purpose</li>
			</ol></p>
		</div>

		<!-- FIXME: Correct this so it only counts selected references
		<div ng-if="library.referenceCount > 10" class="alert alert-warning pad-top">
			<h4 class="alert-heading">Warning</h4>
			<p>Your reference library contains <strong>{{library.referenceCount}}</strong> items which is rather a lot.</p>
			<p>It might be an idea to divide your reference library up a little before submitting this request.</p>
		</div>
		-/->

		<div class="form-group text-center">
			<button type="submit" class="btn btn-lg btn-success">
				<i class="fa fa-envelope"></i>
				Submit request
			</button>
		</div>
	</form>
	-->
</div>
