<div ng-controller="libraryController"><div ng-controller="libraryScreenController">
	<div id="modal-screening-options" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Library screening options</h4>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped">
						<thead><tr>
							<td>Keyword</td>
							<td>Weighting</td>
						</tr></thead>
						<tr ng-repeat="weighting in library.screening.weightings">
							<td>{{weighting.keyword}}</td>
							<td>{{weighting.weight}}</td>
						</tr>
						<tr ng-if="!library.screening.weightings.length">
							<td colspan="2">No weightings present</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<legend>
		{{library.title || 'Untitled'}}
		<div class="btn-group pull-right">
			<a class="btn dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-cog"></i>
					Tools
					<i class="fa fa-caret-down"></i>
				</span>
			</a>
			<ul class="dropdown-menu" ng-include="'/partials/libraries/verbs.html'"></ul>
		</div>
	</legend>

	<div ng-if="loading" class="alert alert-info text-center">
		<div><i class="fa fa-spinner fa-spin fa-3x"></i></div>
		<h3>Loading reference library...</h3>
	</div>

	<div class="row">
		<div ng-if="ref" class="col-md-12">
			<h1 ng-if="options.show.title">{{ref.title}}</h1>
			<p ng-if="options.show.abstract" class="lead">{{ref.abstract}}</p>
			<div ng-if="options.show.fulltext" class="well">FULL TEXT AREA</div>
		</div>
	</div>

	<div class="row text-center">
		<a ng-click="movePrev()" class="btn btn-default"><i class="fa fa-fast-backward"></i></a>
		<a ng-click="moveNext()" class="btn btn-default"><i class="fa fa-fast-forward"></i></a>
		<a ng-click="showConfig()" class="btn btn-default"><i class="fa fa-cog"></i></a>
	</div>
</div></div>
