<div ng-controller="libraryController"><div ng-controller="libraryScreenController">
	<div id="modal-screening-options" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Library screening options</h4>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped">
						<thead><tr>
							<td>Keyword</td>
							<td class="text-center" width="50px">Weighting</td>
							<td width="50px">&nbsp;</td>
						</tr></thead>
						<tr ng-repeat="weighting in library.screening.weightings">
							<td>{{weighting.keyword}}</td>
							<td class="text-center">{{weighting.weight}}</td>
							<td class="text-center hide-until-hover"><a ng-click="deleteWeighting($index)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a></td>
						</tr>
						<tr ng-if="!library.screening.weightings.length">
							<td colspan="3">No weightings present</td>
						</tr>
						<tfoot><tr>
							<td>
								<input type="text" ng-model="newWeighting.keyword" class="form-control"/>
							</td>
							<td>
								<input type="number" ng-model="newWeighting.weight" class="form-control text-center"/>
							</td>
							<td class="text-center">
								<button ng-click="addWeighting()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add</button>
							</td>
						</tr></tfoot>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<legend>
		{{library.title || 'Untitled'}}
		<div class="btn-group pull-right">
			<a class="btn dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-cog"></i>
					Tools
					<i class="fa fa-caret-down"></i>
				</span>
			</a>
			<ul class="dropdown-menu" ng-include="'/partials/libraries/verbs.html'"></ul>
		</div>
	</legend>

	<div ng-if="loading" class="alert alert-info text-center">
		<div><i class="fa fa-spinner fa-spin fa-3x"></i></div>
		<h3>Loading reference library...</h3>
	</div>

	<table class="screener" ng-if="!loading" height="450px" width="100%">
		<tr><td>
			<div ng-if="ref" class="col-md-12">
				<ul id="dropdown-text-select" class="dropdown-menu">
					<li class="dropdown-header">{{selectedText}}</li>
					<li class="divider"></li>
					<li><a ng-click="addWeighting({keyword: selectedText, weight: 2})"><i class="fa fa-thumbs-o-up"></i> +2 Prefer</a></li>
					<li><a ng-click="addWeighting({keyword: selectedText, weight: 1})"><i class="fa fa-thumbs-o-up"></i> +1 Prefer</a></li>
					<li class="divider"></li>
					<li><a ng-click="addWeighting({keyword: selectedText, weight: -1})"><i class="fa fa-thumbs-o-down"></i> -1 Avoid</a></li>
					<li><a ng-click="addWeighting({keyword: selectedText, weight: -2})"><i class="fa fa-thumbs-o-down"></i> -2 Avoid</a></li>
				</ul>
				<span text-highlight="highlightTerms" text-highlight-wrapper="highlightWrapper" text-highlight-tags="highlightTags" text-highlight-popup="'#dropdown-text-select'">
					<h1 ng-if="options.show.title">{{ref.title}}</h1>
					<p ng-if="options.show.abstract" class="lead font-sm">{{ref.abstract || 'No abstract available'}}</p>
					<div ng-if="options.show.keywords && ref.keywords">
						<strong>Keywords:</strong>
						<span ng-repeat="keyword in ref.keywords">{{keyword}}</span>
					</div>
					<div ng-if="options.show.fulltext" class="well">FULL TEXT AREA</div>
				</span>
			</div>
		</td></tr>
		<tr ng-if="refNo > 0" height="20px"><td class="text-center">
			<a tooltip="Click to go back to library view" href="#/libraries/{{library._id}}" class="badge badge-info badge-lg">Reference {{refNo}} of {{references.length}}</a>
		</td></tr>
		<tr ng-if="tags && tags.length" height="50px"><td class="text-center">
			<a ng-repeat="tag in tags | filter:{meta:false}" class="btn btn-default">
				<span class="tag tag-lg" style="background: {{tag.color}}">{{tag.title}}</span>
			</a>
		</td></tr>
		<tr height="50px"><td class="text-center">
			<a ng-click="movePrev()" class="btn btn-default"><i class="fa fa-fast-backward"></i></a>
			<a ng-click="moveNext()" class="btn btn-default"><i class="fa fa-fast-forward"></i></a>
			<a ng-click="showConfig()" class="btn btn-default"><i class="fa fa-cog"></i></a>
			<a href="#/libraries/{{library._id}}" tooltip="Go back to the reference list" class="btn btn-default"><i class="fa fa-th-list"></i></a>
		<//td></tr>
	</table>
</div></div>
