<div ng-controller="taskController" class="container pad-top">
	<div ng-switch="task.status" class="col-md-8 col-md-offset-2">
		<div ng-switch-when="loading" class="alert alert-info alert-block">
			<h1 class="pull-center"><i class="fa fa-spinner fa-spin"></i> Preparing to run task...</h1>
		</div>
		<div ng-switch-when="pending" class="alert alert-info alert-block">
			<h1 class="pull-center"><i class="fa fa-spinner fa-spin"></i> Task pre-processing...</h1>
		</div>
		<div ng-switch-when="processing" class="alert alert-info alert-block">
			<h1 class="pull-center"><i class="fa fa-spinner fa-spin"></i> Processing...</h1>
			<div class="pad-top-lg"></div>
			<div ng-if="task.progress.current > 0" class="progress progress-striped active">
				<div class="progress-bar progress-bar-striped active" style="width: {{task.progress.percent}}%"></div>
			</div>
			<div ng-if="task.progress.current > 0" class="text-center">Processed: {{task.progress.current}} / {{task.progress.max}}</div>
			<div ng-if="task.lastUpdate" class="text-center muted small pad-top-sm pad-bottom-sm">Last update at {{task.lastUpdate}}</div>
		</div>
		<div ng-switch-when="completed" class="alert alert-success alert-block">
			<h1 class="pull-center"><i class="fa fa-exclamation-triangle"></i> Completed processing</h1>
		</div>
		<div ng-switch-when="error" class="alert alert-danger alert-block">
			<h1 class="pull-center"><i class="fa fa-exclamation-triangle"></i> Error processing task</h1>
			<div class="pad-top">
				<table ng-if="task.history.length" class="table table-striped">
					<tbody>
						<tr ng-repeat="history in task.history">
							<td>{{history.created | date:"medium"}}</td>
							<td><i class="fa" ng-class="{'fa-clock-o':history.type=='queued','fa-check':history.type=='completed','fa-exclamation-circle':history.type=='error','fa-info-circle':history.type=='status','fa-question-circle':history.type=='response'}"></i></td>
							<td>{{history.response || history.type | ucwords}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
