<li><a href="#/libraries/{{library._id}}/import"><i class="fa fa-cloud-upload"></i> Import references</a></li>
<li><a href="#/libraries/{{library._id}}/export"><i class="fa fa-cloud-download"></i> Export references</a></li>
<li class="divider"></li>
<li><a href="#/libraries/{{library._id}}/tags"><i class="fa fa-tags"></i> Manage tags</a></li>
<li><a href="#/libraries/{{library._id}}/share"><i class="fa fa-share"></i> Share library</a></li>
<li class="divider"></li>
<li><a href="#/libraries/{{library._id}}/request"><i class="fa fa-envelope-o"></i> Journal request</a></li>
<li><a href="#/libraries/{{library._id}}/fulltext"><i class="fa fa-download"></i> Search for full texts</a></li>
<li class="divider"></li>
<li><a href="#/libraries/{{library._id}}/collabmatrix"><i class="fa fa-group"></i> Author collaboration</a></li>
<li class="divider"></li>
<li><a href="#/libraries/{{library._id}}/dedupe"><i class="fa fa-compress"></i> Eliminate Duplicates</a></li>
<li><a href="#/libraries/{{library._id}}/screen"><i class="fa fa-filter"></i> Screen references</a></li>
<li class="divider"></li>
<li><a href="#/libraries/{{library._id}}/clear" data-confirm="Are you sure? This will delete all references in this library"><i class="fa fa-trash-o"></i> Clear all references</a></li>
<li><a href="#/libraries/{{library._id}}/delete" data-confirm="Are you sure you want to delete this library?"><i class="fa fa-trash-o"></i> Delete</a></li>
<li ng-if="user.isRoot"><a href="#/libraries/{{library._id}}/dummy"><i class="fa fa-cog"></i> Dummy task</a></li>
