<div ng-controller="libraryController">
	<div id="modal-tagEdit" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button ng-click="saveReference()" type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{reference.title}}</h4>
				</div>
				<div class="modal-body">
					<p>Select the tags you wish to apply to this reference:</p>
					<div ng-repeat="tag in tags | orderBy:'title'" class="checkbox">
						<label>
							<input type="checkbox" ng-click="toggleTag(tag)" ng-checked="reference.tags | contains:tag._id"/>
							<span class="tag" style="background: {{tag.color}}">{{tag.title}}</span>
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="pull-left">
						<a href="#/references/{{reference._id}}" class="btn btn-default">
							<i class="fa fa-pencil"></i>
							Edit reference
						</a>
					</div>
					<div class="pull-right">
						<a ng-click="saveReference()" class="btn btn-success" data-dismiss="modal">Close</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<legend>
		{{library.title || 'Untitled'}}
		<div class="btn-group pull-right">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-cog"></i> Tools <span class="caret"></span>
			</a>
			<ul class="dropdown-menu" ng-include="'/partials/libraries/verbs.html'"></ul>
		</div>
	</legend>

	<div ng-if="library.status == 'dedupe' || library.status == 'deduped'" class="alert alert-info alert-block">
		<a href="#" data-dismiss="alert" class="close"><i class="fa fa-times-sign"></i></a>
		<h3><i class="fa fa-bell-o icon-animated-bell"></i> De-duplication in progress</h3>
		<p>This library is still marked as having duplicate references.</p>
		<div class="text-center pad-top">
			<a class="btn" href="#/libraries/{{library._id}}/dedupe"><i class="fa fa-compress"></i> Examine duplicates</a>
			<a class="btn" ng-click="set('status', 'active')"><i class="fa fa-stop"></i> Stop de-duping</a>
			<a class="btn" data-dismiss="alert"><i class="fa fa-times-sign"></i> Not right now</a>
		</div>
	</div>

	<ul ng-if="tags && tags.length" class="nav nav-tabs" id="tag-filter">
		<li ng-class="!activeTag && 'active'">
			<a href="#/libraries/{{library._id}}">
				<i class="fa fa-asterisk"></i>
				All
				<span class="badge">{{library.referenceCount}}</span>
			</a>
		</li>
		<li ng-repeat="tag in tags track by tag._id" ng-class="activeTag._id == tag._id && 'active'">
			<a href="#/libraries/{{library._id}}?tag={{tag._id}}">
				{{tag.title}}
				<span class="badge">{{tag.referenceCount}}</span>
			</a>
		</li>
		<li class="pull-right"><a href="#/libraries/{{library._id}}/tags" tooltip="Manage library tags" tooltip-position="top"><i class="fa fa-tags"></i></a></li>
	</ul>

	<div ng-if="!references || !references.length" class="well">
		<span ng-show="!activeTag">
			<h3><i class="fa fa-info-circle"></i> No references in this library</h3>
			<p>This library is empty. You can import references from a file or create new references manually.</p>
			<div class="text-center pad-top">
				<a href="#/libraries/{{library._id}}/import" class="btn"><i class="fa fa-cloud-upload"></i> Import library file</a>
			</div>
		</span>
		<span ng-show="activeTag">
			<h3><i class="fa fa-info-circle"></i> No references for this tag</h3>
			<p>No references are filed under this tag.</p>
			<div class="text-center pad-top">
				<a href="#/libraries/{{library._id}}" class="btn"><i class="fa fa-asterisk"></i> Show all references</a>
			</div>
		</span>
	</div>

	<table ng-if="references && references.length" class="table table-striped table-bordered" id="reference-table">
		<tr>
			<th width="40px">&nbsp;</th>
			<th>Title</th>
			<th>Authors</th>
			<th ng-if="tags && tags.length">Tags</th>
		</tr>
		<tr ng-repeat="reference in references track by reference._id">
			<td>
				<div class="dropdown">
					<a class="btn" data-toggle="dropdown"><i class="fa fa-tag"></i></a>
					<ul class="dropdown-menu">
						<li><a href="/references/{{reference._id}}"><i class="fa fa-pencil"></i> Edit</a></li>
						<li class="divider"></li>
						<li><a href="/references/{{reference._id}}/delete"><i class="fa fa-trash-o"></i> Delete</a></li>
					</ul>
				</div>
			</td>
			<td><a href="#/references/{{reference._id}}">{{::reference.title}}</a></td>
			<td>
				<a href="#/references/{{reference._id}}">
					<span ng-repeat="author in reference.authors | limitTo:3" class="badge badge-info">
						<i class="fa fa-user"></i>
						{{author}}
					</span>
					<span ng-if="::reference.authors.length > 3" class="badge badge-default">
						<i class="fa fa-group"></i>
						+{{::reference.authors.length - 3}}
					</span>
					<em ng-if="::(!reference.authors || !reference.authors.length)">none</em>
				</a>
			</td>
			<th ng-if="tags && tags.length">
				<a ng-click="editTags(reference)"> 
					<span ng-repeat="tag in reference.tags" class="tag" style="background: {{tagsObj[tag].color}}">{{tagsObj[tag].title}}</span>
					<i class="fa fa-pencil show-on-hover"></i>
				</a>
			</th>
		</tr>
	</table>
</div>
