<div ng-controller="libraryController"><div ng-controller="libraryWordFreqReviewController">
	<div ng-if="loading" class="alert alert-info text-center">
		<div><i class="fa fa-spinner fa-spin fa-3x"></i></div>
		<h3>Loading data...</h3>
	</div>
	<div ng-if="!loading" class="alert">
		<h1>Word-frequency analysis results</h1>
		<div class="pad-top">
			<table class="table table-bordered table-striped">
				<thead><tr>
					<th>Word</th>
					<th>Count</th>
				</tr></thead>
				<tr ng-repeat="word in task.result | orderBy:'-count' track by word.word">
					<td>{{::word.word}}</td>
					<td>{{::word.count | number}}</td>
				</tr>
			</table>
		</div>
	</div>
</div></div>
