<div ng-controller="libraryController"><div ng-controller="libraryWordFreqReviewController">
	<div ng-if="loading" class="alert alert-info text-center">
		<div><i class="fa fa-spinner fa-spin fa-3x"></i></div>
		<h3>Loading data...</h3>
	</div>
	<div ng-if="!loading" class="alert">
		<h1>Word-frequency analysis results</h1>
		<div class="pad-top">
			<table class="table table-bordered table-striped">
				<thead><tr>
					<th><a ng-click="setSort('word')">
						Word
						<i ng-if="sortCol == 'word'" class="fa" ng-class="sortAZ ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
					</a></th>
					<th><a ng-click="setSort('unique')">
						Unique
						<i ng-if="sortCol == 'unique'" class="fa" ng-class="sortAZ ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
					</a></th>
					<th ng-repeat="field in task.result.fields"><a ng-click="setSort(field)">
						{{field | ucwords}}
						<i ng-if="sortCol == field" class="fa" ng-class="sortAZ ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
					</a></th>
					<th><a ng-click="setSort('points')">
						Points
						<i ng-if="sortCol == 'points'" class="fa" ng-class="sortAZ ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
					</a></th>
				</tr></thead>
				<tr ng-repeat="word in task.result.words | orderBy:sortCol:!sortAZ track by word.word">
					<td>{{::word.word}}</td>
					<td>{{::word.unique | number}}</td>
					<th ng-repeat="field in task.result.fields">{{::word[field] | number}}</th>
					<td>{{::word.points | number}}</td>
				</tr>
			</table>
		</div>
	</div>
</div></div>
