<div ng-controller="libraryController"><div ng-controller="libraryWordFreqReviewController">
	<div ng-if="loading" class="alert alert-info text-center">
		<div><i class="fa fa-spinner fa-spin fa-3x"></i></div>
		<h3>Loading data...</h3>
	</div>
	<div ng-if="!loading" class="alert">
		<h1>Word-frequency analysis results</h1>
		<div class="pad-top">
			<div class="form-group">
				<div class="input-group input-group-lg col-sm-12">
					<input ng-model="query" type="search" class="form-control" placeholder="Quick-search..." autofocus/>
					<div class="input-group-btn">
						<button class="btn btn-primary" type="submit"><i class="fa fa-search"/></button>
					</div>
				</div>
			</div>
		</div>
		<div class="pad-top">
			<table class="table table-bordered table-striped">
				<thead><tr>
					<th><a ng-click="setSort('word')">
						Word
						<i ng-if="sortCol == 'word'" class="fa" ng-class="sortAZ ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
					</a></th>
					<th><a ng-click="setSort('unique')">
						Unique
						<i ng-if="sortCol == 'unique'" class="fa" ng-class="sortAZ ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
					</a></th>
					<th ng-repeat="field in task.result.fields track by field.id"><a ng-click="setSort(field.id)">
						{{field.title}}
						<i ng-if="sortCol == field.id" class="fa" ng-class="sortAZ ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
					</a></th>
					<th style="min-width: 150px"><a ng-click="setSort('points')">
						Points
						<i ng-if="sortCol == 'points'" class="fa" ng-class="sortAZ ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
					</a></th>
				</tr></thead>
				<tr ng-repeat="word in results = (task.result.words | filter:query | orderBy:sortCol:!sortAZ) track by word.word">
					<td>{{::word.word}}</td>
					<td>{{::word.unique | number}}</td>
					<th ng-repeat="field in task.result.fields track by field.id">{{::word[field.id] | number}}</th>
					<td>
						<div class="progress active">
							<div class="progress-bar" style="width: {{::word.width}}%;">
								{{::word.points | number}}
							</div>
						</div>
					</td>
				</tr>
				<tr ng-show="!results.length">
					<td colspan="6">
						<div class="alert alert-warning">No results matching that query</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div></div>
