<div ng-controller="libraryOperation"><div ng-controller="libraryWordFreqController">
	<form ng-submit="submit()">
		<div class="alert alert-info">
			<p>Perform word-frequency analysis on the <strong>{{library.title}}</strong> reference library to find popular terms.</p>
		</div>
		<div class="form-horizontal">
			<div ng-if="errors.length" class="alert alert-warning">
				<ul>
					<li ng-repeat="error in errors">{{error.text}}</li>
				</ul>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Filtering</label>
				<div class="col-sm-9">
					<div class="btn-group">
						<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-filter"></i>
							{{filter.title || 'Select a filter...'}}
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li ng-repeat="f in filters"><a ng-click="setFilter(f)">{{f.title}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Deburr</label>
				<div class="col-sm-9">
					<switch ng-model="deburr" class="green"></switch>
					<p class="help-block">Convert all <a href="https://en.wikipedia.org/wiki/Latin-1_Supplement_(Unicode_block)#Character_table">latin-1 supplementary letters</a> to basic latin letters and also remove <a href="https://en.wikipedia.org/wiki/Combining_Diacritical_Marks">combining diacritical marks</a>. e.g. <code>ÕÑÎÔÑ</code> becomes <code>ONION</code></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Ignore common terms</label>
				<div class="col-sm-9">
					<switch ng-model="ignore.common" class="green"></switch>
					<p class="help-block">Remove all common English terms. e.g. <code>The</code>, <code>And</code>, <code>He</code>, <code>She</code>, <code>It</code></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Ignore numbers</label>
				<div class="col-sm-9">
					<switch ng-model="ignore.numbers" class="green"></switch>
					<p class="help-block">Remove all numeric terms along with English variants. e.g. <code>123</code>, <code>Twenty</code>, <code>Five</code>, <code>107,108.42</code></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Max words in phase</label>
				<div class="col-sm-9">
					<input ng-model="combineWords" type="number" min="1" max="5" step="1" class="form-control"/>
					<p class="help-block">The maximum number of run-on words allowable within a phase. If this is <code>1</code> only single words are returned, if <code>2</code> two words appearing together are listed and so on.</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Minimum word frequency</label>
				<div class="col-sm-9">
					<input ng-model="min.points" type="number" min="0" max="100" step="1" class="form-control"/>
					<p class="help-block">Words with points below this number will not be shown. Set to <code>0</code> to display everything.</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Minimum uniqueness</label>
				<div class="col-sm-9">
					<input ng-model="min.unique" type="number" min="0" max="100" step="1" class="form-control"/>
					<p class="help-block">Words must occur in at least this number of references to be shown. Set to <code>0</code> to display everything.</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Weightings</label>
				<div class="col-sm-9">
					<table class="table table-stiped table-bordered">
						<thead>
							<tr>
								<td>Term</td>
								<td>Weighting</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(key, val) in weights">
								<td>{{key}}</td>
								<td><input type="number" class="form-control" min="0" step="0.1" ng-model="val"/></td>
							</tr>
						</tbody>
					</table>
					<p class="help-block">Adjust the weighting of terms found in different sections of a reference</p>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Perform word-frequency analysis</button>
		</div>
	</form>
</div></div>
