<div class="pad">
	<div class="hero-unit">
		<h1>SR-Accelerator</h1>
		<p>Welcome to the IEBH Systematic Review Accelerator</p>
		<br/>
		<p>The IEBH SR-Accelerator is a suite of tools to speed up steps in the Systematic Review (SR) process. It is freely available for anyone in the world to use. Simply register below with your name and email address. The SRA is a modular design which means the tools can be incorporated into existing SR workflows and combined with other automation tools.</p>
		<br/>
		<p>Current tools are being continually reviewed and refined with additional tools being developed. <a href="#/contact"> Contant Us </a> to suggest improvements or report problems.</p>
		<div ng-if="user._id" class="pad-top-lg text-center">
			<a class="btn btn-large" href="#/help/getting-started"><i class="fa fa-book"></i> Getting started</a>
			<a class="btn btn-large" href="#/libraries"><i class="fa fa-tags"></i> View your Libraries</a>
		</div>
		<div ng-if="!user._id" class="pad-top-lg text-center">
			<a class="btn btn-large" href="#/signup"><i class="fa fa-asterisk"></i> Create an account</a>
			<a class="btn btn-large" href="#/login"><i class="fa fa-user"></i> Login</a>
		</div>
	</div>
</div>
