<div class="pad">
	<div class="hero-unit">
		<h1>SR-Accelerator</h1>
		<p>Welcome to the IEBH Systematic Review Accelerator</p>

		<h2>Training</h2>
		<p>Due to popular demand additional SRA training sessions have now been scheduled.</p>

			<h3>Workshop 1: Automation tools to improve the speed of conducting systematic reviews (Cost AUD $55)</h3>
			<div>
				<li>Thursday, 30 June 2022 - 7:00pm-8:30pm (AEST, UTC+10, Europe suitable time): <a href="https://iebh.bond.edu.au/event/71068/automation-tools-improve-speed-conducting-systematic-reviews-overview">book here</a></li>
				<li>Wednesday, 6 July 2022 - 8:00am-9:30am (AEST, UTC+10, America suitable time): <a href="https://iebh.bond.edu.au/event/71071/automation-tools-improve-speed-conducting-systematic-reviews-overview">book here</a></li>
			</div>

			<h3>Workshop 2: Automation tools to create efficient search strategies for systematic reviews (Cost AUD $55)</h3>
			<div>
				<li>Wednesday, 13 July 2022: 7:00pm-8:30pm (AEST, UTC+10, Europe suitable time): <a href="https://iebh.bond.edu.au/event/71073/automation-tools-create-efficient-search-strategies-systematic-reviews">book here</a></li>
				<li>Wednesday, 20 July 2022: 8:00am-9:30am (AEST, UTC+10, America suitable time): <a href="https://iebh.bond.edu.au/event/71083/automation-tools-create-efficient-search-strategies-systematic-reviews">book here</a></li>
			</div>
			
			<h3>Workshop 3: Automation tools to improve the efficiency of screening studies for systematic reviews (Cost AUD $55)</h3>
			<div>
				<li>Wednesday, 27 July 2022 - 7:00pm-8:30pm (AEST, UTC+10, Europe suitable time): <a href="https://iebh.bond.edu.au/event/71089/automation-tools-improve-efficiency-screening-studies-systematic-reviews">book here</a> </li>
				<li>Wednesday, 3 August 2022 - 8:00am-9:30am (AEST, UTC+10, America suitable time): <a href="https://iebh.bond.edu.au/event/71094/automation-tools-improve-efficiency-screening-studies-systematic-reviews">book here</a></li>
			</div>
	
			<div>Please see below details of upcoming online workshops with the Institute for Evidence Based Healthcare <a href="https://iebh.bond.edu.au/education-services/events"></a>https://iebh.bond.edu.au/education-services/events</a></div>

			<div>For any enquiries regarding these workshops, please contact <a href="mailto:iebh@bond.edu.au">iebh@bond.edu.au</a></div>
			


	<!-- Supporters info below here

		<h2>Supporters</h2>
		<p>The SRA is provided free to systematic reviewers all around the world. This would not be possible without the support of the following groups, who we are very grateful to:</p>
		<div class="row">
			<a class="col-sm-4 col-lg-2" style="height: 200px" href="https://bond.edu.au/" target="_blank">
				<div class="thumbnail text-center" style="height: 100%">
					<div style="height: 110px">
						<span class="vertical-center"></span><img src="img/supporters/bond.png" style="max-height: 120px; max-width: 100%; height: auto; width: auto;">
					</div>
					<h6>Bond University</h6>
				</div>
			</a>
			<a class="col-sm-4 col-lg-2" style="height: 200px" href="https://www.griffith.edu.au/menzies-health-institute-queensland/our-institute/healthcare-practice-survivorship/nhmrc-cre-wiser-wound-care" target="_blank">
				<div class="thumbnail text-center" style="height: 100%">
					<div style="height: 110px">
						<span class="vertical-center"></span><img src="img/supporters/wiser.png" style="max-height: 120px; max-width: 100%; height: auto; width: auto;">
					</div>
					<h6>NHMRC Centre of Research Excellence in Wiser Wound Care </h6>
				</div>
			</a>
			<a class="col-sm-4 col-lg-2" style="height: 200px" href="https://australia.cochrane.org/" target="_blank">
				<div class="thumbnail text-center" style="height: 100%">
					<div style="height: 110px">
						<span class="vertical-center"></span><img src="img/supporters/cochrane.jpg" style="max-height: 120px; max-width: 100%; height: auto; width: auto;">
					</div>
					<h6>Cochrane Australia  </h6>
				</div>
			</a>
			<a class="col-sm-4 col-lg-2" style="height: 200px" href="https://hla.alia.org.au/" target="_blank">
				<div class="thumbnail text-center" style="height: 100%">
					<div style="height: 110px">
						<span class="vertical-center"></span><img src="img/supporters/alia.jpg" style="max-height: 120px; max-width: 100%; height: auto; width: auto;">
					</div>
					<h6>ALIA Health Libraries Australia </h6>
				</div>
			</a>
			<a class="col-sm-4 col-lg-2" style="height: 200px" href="https://www.nhmrc.gov.au/" target="_blank">
				<div class="thumbnail text-center" style="height: 100%">
					<div style="height: 110px"></div>
					<h6>The National Health and Medical Research Council (NHMRC)</h6>
				</div>
			</a>
		</div>
		<p style="padding-top: 10px;">If you would like to become a supporter of the SRA, please contact Justin Clark (<a href="mailto:jclark@bond.edu.au">jclark@bond.edu.au</a>)</p>
	</div>

	Supportersinfo above here -->

	<div class="hero-unit">
		<p>The IEBH SR-Accelerator is a suite of tools to speed up steps in the Systematic Review (SR) process. It is freely available for anyone in the world to use. Simply register below with your name and email address. The SRA is a modular design which means the tools can be incorporated into existing SR workflows and combined with other automation tools.</p>
		<br/>
		<p>Current tools are being continually reviewed and refined with additional tools being developed. <a href="#/contact"> Contact Us </a> to suggest improvements or report problems.</p>
		<div ng-if="user._id" class="pad-top-lg text-center">
			<a class="btn btn-large" href="#/help/getting-started"><i class="fa fa-book"></i> Getting started</a>
			<a class="btn btn-large" href="#/libraries"><i class="fa fa-tags"></i> View your Libraries</a>
		</div>
		<div ng-if="!user._id" class="pad-top-lg text-center">
			<a class="btn btn-large" href="#/signup"><i class="fa fa-asterisk"></i> Create an account</a>
			<a class="btn btn-large" href="#/login"><i class="fa fa-user"></i> Login</a>
		</div>
	</div>
</div>
