<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREBP-SRA</title>
	<meta http-equiv="Content-Language" content="en"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="google" value="notranslate"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
	<link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>

	<!-- FontAwesome -->
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

	<!-- jQuery -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap -->
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Livicons -->
	<script src="/lib/livicons/raphael-min.js"></script>
	<script src="/lib/livicons/livicons-1.3.min.js"></script>
	<!--[if lt IE 8]>
		<script src="/lib/livicons/json2.min.js"></script>
	<![endif]-->

	<!-- Moment -->
	<script src="/bower_components/moment/min/moment.min.js"></script>

	<!-- Angular -->
	<script src="/bower_components/angular/angular<%=config.gulp.minifyJS ? '.min' : ''%>.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
	<link href="/bower_components/angular-bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css"/>
	<script src="/bower_components/angular-collection-assistant/ng-collection-assistant.js"></script>
	<link href="/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
	<script src="/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
	<script src="/bower_components/pretty-bytes/pretty-bytes.js"></script>
	<script src="/bower_components/angular-pretty-bytes/angular-pretty-bytes.min.js"></script>
	<script src="/bower_components/angular-bs-text-highlight/angular-bs-text-highlight.js"></script>
	<script src="/bower_components/angular-bs-tooltip/angular-bs-tooltip.js"></script>
	<script src="/bower_components/angular-async-chainable/async-chainable.js"></script>
	<script src="/bower_components/angular-async-chainable/angular-async-chainable.js"></script>
	<script src="/bower_components/angular-gravatar/build/angular-gravatar.js"></script>
	<link rel="stylesheet" href="/bower_components/angular-ui-switch/angular-ui-switch.min.css">
	<script src="/bower_components/angular-ui-switch/angular-ui-switch.min.js"></script>

	<!-- Angular-venn -->
	<script src="/bower_components/d3/d3.min.js"></script>
	<script src="/bower_components/venn.js/venn.min.js"></script>
	<script src="/bower_components/angular-venn/angular-venn.js"></script>

	<!-- lodash -->
	<script src="/bower_components/lodash/lodash.min.js"></script>

	<!-- Favicons {{{ -->
	<link rel="shortcut icon" href="http://crebp-sra.com/img/icons/favicon.ico?v=2" />
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://crebp-sra.com/img/icons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://crebp-sra.com/img/icons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://crebp-sra.com/img/icons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://crebp-sra.com/img/icons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://crebp-sra.com/img/icons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://crebp-sra.com/img/icons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://crebp-sra.com/img/icons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://crebp-sra.com/img/icons/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-64x64.png" sizes="64x64" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-48x48.png" sizes="48x48" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-24x24.png" sizes="24x24" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-128x128.png" sizes="128x128" />
	<meta name="msapplication-square70x70logo" content="http://crebp-sra.com/img/icons/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="http://crebp-sra.com/img/icons/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="http://crebp-sra.com/img/icons/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="http://crebp-sra.com/img/icons/mstile-310x310.png" />
	<meta name="application-name" content="CREBP Systematic Review Accelerator"/>
	<meta name="msapplication-TileColor" content="#393939"/>
	<!-- }}} -->

	<!-- smart-area -->
	<script src="/bower_components/smart-area/dist/smart-area.js"></script>
	<link href="/bower_components/smart-area/dist/smart-area.css" rel="stylesheet" type="text/css"/>

	<script src="/build/site.min.js"></script>
	<link href="/build/site.min.css" rel="stylesheet" type="text/css"/>
</head>

<body ng-app="app" ng-controller="globalController">
	<div class="wrapper">
		<!-- Navbar {{{ -->
		<header class="topnavbar-wrapper">
			<nav role="navigation" class="navbar navbar-fixed-top topnavbar">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">
						<div class="brand-logo">
							<i class="fa fa-leaf"></i> SR Accelerator
						</div>
						<div class="brand-logo-collapsed">
							<i class="fa fa-leaf"></i> SRA
						</div>
					</a>
				</div>

				<div class="nav-wrapper">
					<ul class="nav navbar-nav">
						<!-- Sidebar collapse toggle {{{ -->
						<li>
							<!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
							<a data-toggle-state="aside-collapsed" class="hidden-xs">
								<em class="fa fa-navicon"></em>
							</a>
							<!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
							<a data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
								<em class="fa fa-navicon"></em>
							</a>
						</li>
						<!-- }}} -->
						<!-- User avatar toggle {{{ -->
						<li class="hidden-xs">
							<!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
							<a id="user-block-toggle" data-toggle="collapse" data-target="#user-block">
								<i class="fa fa-user"></i>
							</a>
						</li>
						<!-- }}} -->
					</ul>
					<ul class="nav navbar-nav navbar-right hidden-xs">
						<!-- User dropdown {{{ -->
						<li class="dropdown dropdown-list">
							<a data-toggle="dropdown" class="nav-no-pad">
								<img gravatar-src="{{user.email}}" gravatar-size="40" gravatar-default="identicon" class="img-thumbnail img-circle">
							</a>
							<ul class="dropdown-menu animated flipInX">
								<li>
									<div class="list-group">
										<a href="#/libraries" class="list-group-item">
											<div class="media-box">
												<div class="pull-left">
													<em class="fa fa-tags fa-2x text-info"></em>
												</div>
												<div class="media-box-body clearfix">
													<p class="m0">Libraries</p>
													<p class="m0 text-muted">
														<small>View all libraries</small>
													</p>
												</div>
											</div>
										</a>
										<a href="#/logout" class="list-group-item">
											<div class="media-box">
												<div class="pull-left">
													<em class="fa fa-sign-out fa-2x text-info"></em>
												</div>
												<div class="media-box-body clearfix">
													<p class="m0">Sign out</p>
													<p class="m0 text-muted">
														<small>Log out of the SRA</small>
													</p>
												</div>
											</div>
										</a>
									</div>
								</li>
							</ul>
						</li>
						<!-- }}} -->
					</ul>
				</div>
			</nav>
		</header>
		<!-- }}} -->

		<!-- Sidebar {{{ -->
		<aside class="aside">
			<div class="aside-inner">
				<nav data-sidebar-anyclick-close="" class="sidebar">
					<ul class="nav">
						<!-- User {{{ -->
						<li class="has-user-block">
							<div id="user-block" class="collapse">
								<div class="item user-block">
									<!-- User picture-->
									<div class="user-block-picture">
										<div class="user-block-status">
											<img gravatar-src="{{user.email}}" gravatar-size="60" gravatar-default="identicon" class="img-thumbnail img-circle">
											<div class="circle circle-success circle-lg"></div>
										</div>
									</div>
									<!-- Name and Job-->
									<div class="user-block-info">
										<span class="user-block-name">Hello, Mike</span>
										<span class="user-block-role">Designer</span>
									</div>
								</div>
							</div>
						</li>
						<!-- }}} -->
						<li class="active">
							<a href="#/">
								<div class="pull-right label label-info">3</div>
								<i class="fa fa-fw fa-dashboard"></i>
								<span class="menu-text">Dashboard</span>
							</a>
						</li>
						<li ng-if="!user._id">
							<a href="#/login">
								<i class="fa fa-fw fa-user"></i>
								<span>Login</span>
							</a>
						</li>
						<li>
							<a href="#/" data-toggle="collapse" data-target="#sidebar-tools">
								<div class="pull-right label label-info">3</div>
								<i class="fa fa-fw fa-wrench"></i>
								<span class="menu-text">Tools</span>
							</a>
							<ul id="sidebar-tools" class="nav sidebar-subnav collapse">
								<li class="sidebar-subnav-header">Tools</li>
								<li>
									<a href="#/search" title="Dashboard v1">
										<i class="fa fa-fw fa-search"></i>
										<span>Search</span>
									</a>
								</li>
								<li>
									<a href="#/polyglot" title="Dashboard v1">
										<i class="fa fa-fw fa-search"></i>
										<span>Polyglot</span>
									</a>
								</li>
							</ul>
						</li>
						<li ng-if="user._id" ng-controller="libraryListController">
							<a href="#/libraries" data-toggle="collapse" data-target="#sidebar-libraries">
								<div class="pull-right label label-info">3</div>
								<i class="fa fa-tags"></i>
								<span class="menu-text">Libraries</span>
							</a>
							<ul id="sidebar-libraries" class="nav sidebar-subnav collapse">
								<li class="sidebar-subnav-header">Libraries</li>
								<li ng-repeat="library in libraries track by library._id">
									<a href="#/libraries/{{library._id}}" title="Dashboard v1">
										<i class="fa fa-tags"></i>
										<span>{{library.title || 'Untitled'}}</span>
									</a>
								</li>
								<li>
									<a href="#/libraries/import">
										<i class="fa fa-plus"></i>
										<span>Import New</span>
									</a>
								</li>
								<li>
									<a href="#/libraries">
										<i class="fa fa-table"></i>
										<span>View All</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<!-- }}} -->
		<!-- Main content {{{ -->
		<section>
			<div class="content-wrapper">
				<div class="content-heading">
					{{pageTitle}}
					<small class="breadcrumbs" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<a href="#/"><i class="fa fa-home home-icon"></i></a>
							</li>
							<li ng-repeat="crumb in breadcrumbs">
								<a href="#{{crumb.url}}">{{crumb.title}}</a>
							</li>
							<li ng-show="pageTitle">
								<a ng-href="#{{pageUrl}}">{{pageTitle}}</a>
							</li>
						</ul>
					</small>
				</div>
				<%- body %>
			</div>
		</section>
		<!-- }}} -->
	</div>
</body>

</html>
