<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREBP-SRA</title>
	<meta http-equiv="Content-Language" content="en"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="google" value="notranslate"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
	<link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>

	<!-- Core vendors -->
	<link rel='stylesheet' href="/build/vendors-core.min.css"/>
	<script src="/build/vendors-core.min.js" defer async></script>

	<!-- Favicons {{{ -->
	<link rel="shortcut icon" href="http://crebp-sra.com/img/icons/favicon.ico?v=2" />
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://crebp-sra.com/img/icons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://crebp-sra.com/img/icons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://crebp-sra.com/img/icons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://crebp-sra.com/img/icons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://crebp-sra.com/img/icons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://crebp-sra.com/img/icons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://crebp-sra.com/img/icons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://crebp-sra.com/img/icons/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-64x64.png" sizes="64x64" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-48x48.png" sizes="48x48" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-24x24.png" sizes="24x24" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="http://crebp-sra.com/img/icons/favicon-128x128.png" sizes="128x128" />
	<meta name="msapplication-square70x70logo" content="http://crebp-sra.com/img/icons/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="http://crebp-sra.com/img/icons/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="http://crebp-sra.com/img/icons/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="http://crebp-sra.com/img/icons/mstile-310x310.png" />
	<meta name="application-name" content="CREBP Systematic Review Accelerator"/>
	<meta name="msapplication-TileColor" content="#393939"/>
	<!-- }}} -->

	<script src="/build/vendors-main.min.js" defer></script>
	<link href="/build/vendors-main.min.css" rel="stylesheet" type="text/css"/>
	<script src="/build/app.min.js" defer></script>
	<link href="/build/app.min.css" rel="stylesheet" type="text/css"/>
	<script src="/build/partials.min.js" defer></script>
</head>

<body ng-app="app" ng-controller="globalController" class="navbar-fixed">
<div id="modal-loader" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-spinner fa-spin fa-1.5x"></i> {{loader.title}}</h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{loader.progress}}%"></div>
				</div>
				<p class="text-center">{{loader.text}}</p>
			</div>
		</div>
	</div>
</div>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a href="/" class="brand">
				<i class="fa fa-leaf"></i> Systematic Review Accelerator
			</a>

			<ul class="nav ace-nav pull-right">
				<li class="light-blue">
					<a ng-show="user._id" data-toggle="dropdown" href="#" class="dropdown-toggle">
						<span class="user-info">
							<small>Welcome,</small> {{user.name}}
						</span>
						<i class="fa fa-caret-down"></i>
					</a>
					<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
						<li><a href="#/libraries"><i class="fa fa-tags"></i> My libraries</a></li>
						<li class="divider"></li>
						<li><a href="#/contact"><i class="fa fa-envelope"></i> Contact Us</a></li>
						<li class="divider"></li>
						<li><a href="#/profile"><i class="fa fa-user"></i> Your profile</a></li>
						<li><a href="#/logout"><i class="fa fa-power-off"></i> Logout</a></li>
					</ul>
					<a ng-show="!user._id" href="#/login"><i class="fa fa-user"></i> Login</a>
				</li>
			</ul>

			<div class="header">
				<a href="http://bond.edu.au" target="_blank"><img src="/img/header-bond.png"/></a>
				<a href="http://crebp.net.au" target="_blank"><img src="/img/header-crebp.png"></a>
			</div>
		</div>
	</div>
</div>

<div class="main-container container-fluid">
	<a class="menu-toggler" id="menu-toggler" href="#">
		<span class="menu-text"></span>
	</a>

	<div class="sidebar fixed" id="sidebar">
		<!-- Sidebar {{{ -->
		<ul class="nav nav-list">
			<li>
				<a href="#/">
					<i class="fa fa-dashboard"></i>
					<span class="menu-text">Dashboard</span>
				</a>
			</li>

			<li>
				<a href="#/polyglot">
					<i class="fa fa-search"></i>
					<span class="menu-text">Polyglot Search</span>
				</a>
			</li>

			<li ng-if="user._id">
				<a href="#/replicant">
					<i class="fa fa-android"></i>
					<span class="menu-text">RevMan Replicant</span>
				</a>
			</li>

			<li ng-if="user._id" ng-controller="libraryListController">
				<a href="#/libraries" data-toggle="dropdown" class="dropdown-toggle">
					<i class="fa fa-tags"></i>
					<span class="menu-text"> My libraries</span>
					<b class="arrow fa fa-angle-down"></b>
				</a>
				<ul class="submenu">
					<li><a href="#/libraries"><i class="fa fa-angle-double-right"></i> View all</a></li>
					<li ng-repeat="library in libraries">
						<a href="#/libraries/{{library._id}}">
							<i class="fa fa-tags"></i>
							{{library.title || 'Untitled'}}
						</a>
					</li>
					<li><a href="#/libraries/import">
						<i class="fa fa-plus"></i> Import New</a>
					</li>
				</ul>
			</li>

			<li>
				<a href="#/help/getting-started">
					<i class="fa fa-question-circle"></i>
					<span class="menu-text"> Getting Started</span>
				</a>
			</li>

			<li>
				<a href="#/contact">
					<i class="fa fa-envelope"></i>
					<span class="menu-text"> Contact Us</span>
				</a>
			</li>

			<li ng-if="!user._id">
				<a href="#/login">
					<i class="fa fa-user"></i>
					<span class="menu-text"> Login</span>
				</a>
			</li>
			<? } ?>
		</ul>

		<div class="sidebar-collapse" id="sidebar-collapse">
			<i class="fa fa-angle-double-left"></i>
		</div>
		<!-- }}} -->
	</div>
	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<a href="#/"><i class="fa fa-home home-icon"></i></a>
				</li>
				<li ng-repeat="crumb in breadcrumbs">
					<a href="#{{crumb.url}}">{{crumb.title}}</a>
				</li>
				<li ng-show="pageTitle">
					<a ng-href="#{{pageUrl}}">{{pageTitle}}</a>
				</li>
			</ul>
		</div>

		<div class="page-content">
			<div class="page-header position-relative">
				<%- body %>
			</div>
		</div>
	</div>
</body>

</html>
