<p>An automated request via the SRA to the Bond University ExLibris document request system failed.</p>

<table border="1" cellspacing="0" cellpadding="5">
	<tr>
		<th>FIELD</th>
		<th>&nbsp;</th>
		<th>VALUE</th>
	</tr>
	<tr><td>Title</td><td>=</td><td>{{user.title}} {{user.name}}</td></tr>
	<tr><td>Email</td><td>=</td><td>{{user.email}}</tr>
	<tr><td>Library number</td><td>=</td><td>{{user.libraryNo}}</td></tr>
	<tr><td>Reference title</td><td>=</td><td>{{ref.title}}</td></tr>
	<tr><td>Authors</td><td>=</td><td>{{ref.authors}}</td></tr>
	<tr><td>Journal</td><td>=</td><td>{{ref.journal}}</td></tr>
	<tr><td>Vol</td><td>=</td><td>{{ref.volume}}</td></tr>
	<tr><td>Issue</td><td>=</td><td>{{ref.issue}}</td></tr>
	<tr><td>ISSN / ISBN</td><td>=</td><td>{{ref.isbn}}</td></tr>
	<tr><td>Month</td><td>=</td><td>{{refDate}}</td></tr>
	<tr><td>Year</td><td>=</td><td>{{ref.year}}</td></tr>
	<tr><td>Pages</td><td>=</td><td>{{ref.pages}}</td></tr>
</table>
