/* All <a> elements should be clickable {{{ */
a, [data-toggle], [data-collapse] {
	cursor: pointer;
}
/* }}} */
/* Branding fixes {{{ */
.navbar-brand, .navbar-brand:active {
	color: #EEE !important;
}

.navbar-brand:hover {
	color: #FFF !important;
}

.navbar-brand > .brand-logo {
	padding-top: 15px !important;
}

/* Navbar links have exterme padding {{{ */
.navbar-nav.navbar-right {
	margin-right: 0px;
}

.navbar-nav > li > a.nav-no-pad {
	padding: 0;
}
/* }}} */
/* }}} */
/* Sidebar icons should get big when sidebar is in collapsed state {{{ */
body.aside-collapsed .sidebar > ul.nav > li > a > i.fa {
	font-size: 1.6em;
	width: auto;
}
/* }}} */
/* Theme breaks fixed navbars {{{ */
.navbar-fixed-bottom, .navbar-fixed-top {
	position: fixed !important;
}

.content-wrapper {
	margin-top: 50px !important;
}
/* }}} */
