/* Header {{{ */
.header {
	float: right;
	margin: 0;
	border-bottom: none;
}

.header a {
	text-decoration: none;
}

.header img {
	margin-right: 20px;
}

.brand {
	float: left;
	font-size: 30px;
	margin-top: 13px;
}

.brand:hover {
	text-decoration: none;
}

body.navbar-fixed {
	padding-top: 65px;
}

.sidebar.fixed {
	top: 65px;
}

.ace-nav {
	60px;
}

.ace-nav li {
	line-height: 65px;
	max-height: 65px;
}

.ace-nav li a {
	padding: 10px 15px !important;
}
/* }}} */
/* Fonts {{{ */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/open-sans-300.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans-400.woff) format('woff');
}
/* }}} */
/* LivIcon {{{ */
.livicon {
	display: inline-block;
	line-height: inherit;
	vertical-align: middle;
}

.livicon-bg {
	position: relative;
}

.livicon-bg > div {
	position: absolute;
	width: 220px;
	height: auto;
	left: -20px;
	top: 20px;
	padding: 20px;
	color: #fff;
	font-size: 14px;
}

.livicon-bg:hover > div {
	color: #A65808;
}
/* }}} */
/* Reference menu {{{ */
.navbar .nav .dropdown a {
	text-overflow: ellipsis;
	max-width: 400px;
	overflow: hidden;
}
/* }}} */
/* Style fixes {{{ */
body {
	overflow-x: hidden;
}

table a:hover {
	text-decoration: none;
}

.hero-unit h1 {
	margin: 0px !important;
}

/* Text-center missing for some reason */
.text-center {
	text-align: center;
}

/* Icons in dropdowns are too small */
.dropdown > .btn > i {
	font-size: 15pt;
	line-height: 8px;
}

/* Icons in dropdown-menus are too cramped with text */
.dropdown-menu > li > a > i {
	margin-right: 6px;
}

/* Tooltip multi-line is too spaced out */
.tooltip {
	line-height: 150%;
}

/* WTF are Checkboxes hidden? */
input[type=checkbox] {
	opacity: 1 !important;
}
/* Radios look weird {{{ */
.radio {
	margin-bottom: 10px;
	margin-top: 5px;
}

.radio input[type=radio] {
	opacity: 1 !important;
	margin-top: 3px;
}
/* }}} */
/* }}} */
/* Duplication {{{ */
.duplicates .table-dupes td {
	word-break: break-word;
}

.duplicates .table-dupes td.selectable {
	padding: 10px;
}
.duplicates .table-dupes td.selectable.selected {
	color: #468847 !important;
	background: #dff0d8 !important;
}
/* }}} */
/* Screening {{{ */
.page-screening #reference-table .btn-default {
	background-color: #F0F0F0 !important;
	color: #424242 !important;
	border-color: #DBDBDB;
}

#dropdown-text-select {
	display: none;
}

#dropdown-text-select li.dropdown-header {
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* }}} */
/* Widget: Search basket {{{ */
#basket > ul {
	min-width: 400px;
}

#basket li > a {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
/* }}} */
/* .hero-unit {{{ */
.hero-unit {
	padding: 60px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background-color: #eee;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
/* }}} */
/* .tag - reference tags (similar to .badge but with changable background color) {{{ */
.tag {
	text-shadow: none;
	font-size: 10px;
	font-weight: normal;
	line-height: 15px;
	display: inline-block;
	min-width: 10px;
	padding: 2px 5px;
	color: #000;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10px;
	border: 1px solid #777;
	margin-bottom: 2px;
}

.tag.tag-lg {
	font-size: 14px;
	padding: 4px 8px;
}

.tag + .tag {
	margin-left: 2px;
}
/* }}} */
/* .show-on-hover - Only show element when parent 'tr' has hover {{{ */
.show-on-hover {
	visibility: hidden;
}

tr:hover .show-on-hover {
	visibility: initial;
}
/* }}} */
/* x-editable CSS {{{ */
.editable-buttons {
	height: 30px;
}

.editable-buttons > .btn {
	height: 30px;
	width: 30px;
}
/* }}} */
/* Paper screener: .screener {{{ */
.screener h1 {
	margin: 0 0 10px 0 !important;
	border-bottom: 1px solid rgb(171, 186, 195);
	padding-bottom: 12px !important;
}

.screener .label {
	font-size: inherit;
}
/* }}} */
/* FIX: <a> should always display as a cursor {{{ */
a {
	cursor: pointer;
}
/* }}} */
/* FIX: Checkboxes are too small {{{ */
input[type=checkbox] {
	width: 20px;
	height: 20px;
}
/* }}} */
/* FIX: ng-click doesnt register as clickable within links {{{ */
a[ng-click] {
	cursor: pointer;
}
/* }}} */
/* FIX: Theme {{{ */
/* FIX: Make right aligned tabs not have a style {{{ */
.nav-tabs li.pull-right {
	margin-right: 1px;
}

.nav-tabs li.pull-right a {
	border: none;
	background: none;
}
/* }}} */
/* FIX: Icons in sidebar are too squashed {{{ */
.nav-list i.fa {
	margin: 0 8px;
}

.nav-list ul.submenu i.fa {
	margin: 0 2px;
}
/* }}} */
/* }}} */
/* FIX: ng-include elements within a dropdown {{{ */
.dropdown-menu > [ng-include] {
	margin-left: -20px;
}
/* }}} */
/* FIX: Open sub-menus {{{ */
li.open > ul.submenu {
	display: block;
}
/* }}} */
/* FIX: Buttons within legends dont look right {{{ */
legend {
	height: 39px;
}
/* }}} */
/* FIX: Badges next to each other are too cramped {{{ */
.badge + .badge {
	margin-left: 2px;
}

.badge-lg {
	font-size: 15pt;
	padding: 8px;
}
/* }}} */
/* FIX: Table spacing is too big {{{ */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 4px;
	vertical-align: middle;
}

table.table td .btn {
	padding: 1px 2px;
	line-height: 1em;
}

table.table td .btn > i {
	margin-top: 5px;
}
/* }}} */
/* FIX: Badges should wrap within tables {{{ */
td .badge {
	white-space: normal;
	margin-top: 2px;
}
/* }}} */
/* FIX: Muted text within alerts {{{ */
.alert .muted {
	color: #82BEDB;
}
/* }}} */
/* FIX: Icon spacing in buttons isn't big enough {{{ */
.btn > i.fa {
	margin-right: 5px;
}
/* }}} */
/* FIX: Navbars within pages {{{ */
.page-content .navbar {
	margin-bottom: 20px;
	min-height: inherit;
}

.page-content .navbar .navbar-nav > li > a {
	padding: 5px 10px;
}

.page-content .navbar .navbar-nav > li > a.btn-link {
	margin-top: 4px;
}
/* }}} */
/* FIX: Buttons + icons within input groups have wrong top margin {{{ */
.input-group > .input-group-btn > button.btn {
	padding-top: 5px;
}
/* }}} */
/* FIX: .btn-xs is not small {{{ */
.btn-xs {
	padding: 0 5px;
	line-height: 1.2em;
}
/* }}} */
/* FIX: Linked panel titles (accordions) {{{ */
.panel-title > a {
	cursor: pointer;
}

.panel-title > a:hover {
	text-decoration: none;
}
/* }}} */
/* FIX: Buttons in panel titles {{{ */
.panel-title a.btn {
	height: 35px;
	margin-top: -9px;
	padding: 0 5px;
}

.panel-title a.btn > i {
	position: relative;
	top: -3px;
	left: 2px;
}
/* }}} */
/* FIX: Hovering the login button {{{ */
.nav.ace-nav li.light-blue:hover {
	background: #CCCCCC;
}

.nav.ace-nav li.light-blue:hover a {
	background: transparent;
}
/* }}} */

textarea.sa-realArea:focus{
    -webkit-text-fill-color: #393939;
}
