/* CSS file for replicant contents */
/* This file really just sizes headers correctly */
.replicant {
}

.replicant > h1 {
	font-size: 24px;
	font-weight: normal !important;
	margin: 0 !important;
}

.replicant > h2 {
	font-size: 20px;
	margin: 0;
}

.replicant dfn {
	font-weight: bold;
	color: #438eb9;
	cursor: help;
}
