<div ng-controller="PolyglotSearchController">
	<div class="panel panel-info">
		<div class="panel-heading">
			Help and Tips
			<a data-dismiss="panel"><i class="fa fa-times"></i></a>
		</div>
		<div class="panel-body">
			<p>Write your search query in the <a target="_blank" href="https://www.ncbi.nlm.nih.gov/books/NBK3827/#pubmedhelp.Advanced_Search">PubMed search format</a> and it will be automatically translated into the syntax used by various other search engines.</p>
			<p>Non-blank, non-logical lines will be automatically wrapped in brackets.</p>
			<p ng-if="example">Here's an example about <strong>{{example.title}}</strong>.</p>
			<p class="text-center"><a ng-click="showExample()" class="btn btn-default">Show me {{!example ? 'a' : 'another'}} random example</a></p>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			Polyglot Search Query
			<div class="btn-group">
				<a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog"></i></a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a ng-click="showExample()"><i class="fa fa-random"></i> Show random example</a></li>
				</ul>
			</div>
		</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-12">
					<textarea class="form-control" rows="10" ng-model="query" ng-trim="false" smart-area="smartArea" msd-elastic></textarea>
				</div>
			</div>
		</form>
	</div>

	<div ng-if="query" ng-repeat="engine in engines" class="panel panel-default">
		<div class="panel-heading" data-collapse="panel">
			{{engine.title}}
			<a ng-click="openEngine(engine)"><i class="fa fa-search"></i></a>
			<a data-collapse="panel"><i class="fa fa-plus"></i></a>
		</div>
		<div class="panel-body" style="display: none">
			<pre>{{engine.query}}</pre>
		</div>
	</div>
</div>
