<div ng-controller="PolyglotSearchController">
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>Write your search query in the <a target="_blank" href="https://www.ncbi.nlm.nih.gov/books/NBK3827/#pubmedhelp.Advanced_Search">PubMed search format</a> and it will be automatically translated into the syntax used by various other search engines.</p>
		<p>Non-blank, non-logical lines will be automatically wrapped in brackets.</p>
		<p ng-if="example">Here's an example about <strong>{{example.title}}</strong>.</p>
		<p><a ng-click="showExample()">Show me {{!example ? 'a' : 'another'}} random example</a></p>
	</div>
	<div class="row-fluid">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-12">
					<textarea ng-model="query" class="form-control" rows="10" placeholder="Paste or type your search query here" autofocus></textarea>
				</div>
			</div>
		</form>
	</div>

	<div ng-if="query" id="engines" class="accordion-style1 panel-group">
		<div ng-repeat="engine in engines" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#engines" data-target="#engine-{{engine.id}}" aria-expanded="false">
						{{engine.title}}
					</a>
					<a ng-click="openEngine(engine)" class="btn btn-sm btn-success pull-right"><i class="fa fa-search"></i></a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="engine-{{engine.id}}" aria-expanded="false" style="height: 0px;">
				<div class="panel-body">
					<pre>{{engine.query}}</pre>
				</div>
			</div>
		</div>
	</div>
</div>
