<div>
	<h3>EndNote-Helper</h3>

	<p>A simple automation script to move references into groups within EndNote.</p>

	<p>This script installs various hotkeys which assist with EndNote reference screening.</p>

	<br><br>

	<p align="center"><a href="https://github.com/CREBP/EndNoteHelper/raw/master/EndNoteHelper.exe">
		<img src="https://raw.githubusercontent.com/CREBP/EndNoteHelper/master/src/img/download.png" alt="Download EndNote-Helper"/>
	</a></p>


	<h3>Keys</h3>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Key</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>1</code> or <code>Space bar</code></td>
				<td>Move reference to first group</td>
			</tr>
			<tr>
				<td><code>2</code> or <code>Left arrow</code></td>
				<td>Move reference to second group</td>
			</tr>
			<tr>
				<td><code>3</code> or <code>Right arrow</code></td>
				<td>Move reference to third group</td>
			</tr>
			<tr>
				<td><code>4</code> or <code>0</code></td>
				<td>Move reference to fourth group</td>
			</tr>
			<tr>
				<td><code>Numpad *</code></td>
				<td>Search the reference title via Bond Library search</td>
			</tr>
			<tr>
				<td><code>Numpad /</code></td>
				<td>Search the reference title on Google Scholar</td>
			</tr>
			<tr>
				<td><code>Numpad -</code></td>
				<td>Copy a searchable version of the title to the clipboard</td>
			</tr>
			<tr>
				<td><code>Pause</code></td>
				<td>Exit EndNote-Helper</td>
			</tr>
			<tr>
				<td><code>End</code></td>
				<td>Debugging information</td>
			</tr>
		</tbody>
	</table>


	<h3>Installation</h3>

	<p>The simplest way to get EndNote-Helper running is to <a href="https://github.com/CREBP/EndNoteHelper/raw/master/EndNoteHelper.exe">download the compiled program</a> and run it.</p>

	<p>You will see this icon: <img src="https://raw.githubusercontent.com/CREBP/EndNoteHelper/master/src/EndNoteHelper.png" alt="EndNoteHelper tray icon"/> in the system tray when the program is running.</p>

	<p>Simply hit any of the above keys to run that function. The keys will <strong>only</strong> work when viewing an EndNote citation library (no other screen within EndNote). It is recommended that you create the groups before trying to move references to them.</p>


	<h3>Bugs</h3>

	<p><strong>CAVEAT EMPTOR:</strong> This tool is really just a key remapper. It applies the various shortcuts within EndNote to manipulate the library as needed. Since its pretty 'hacky' the user should be aware that there <strong>may</strong> be side-effects.</p>

	<p>If you find any bugs please <a href="mailto:matt_carter@bond.edu.au">contact the developer</a> and we will do our best to address them.</p>


	<h3>Credits</h3>
	<p>Thanks to the <a href="http://www.crebp.net.au">Bond University Center for Research in Evidence-Based Practicet</a>, the <a href="http://www.famfamfam.com/lab/icons/silk">Silk icon set</a> and the <a href="http://autoitscript.com">AutoIt scripting language</a>.

</div>
