<div ng-controller="referenceEditController">
	<legend>
		{{reference.library.title || 'Untitled'}}
		<div class="btn-group pull-right">
			<a class="btn dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-cog"></i>
					Library Tools
					<i class="fa fa-caret-down"></i>
				</span>
			</a>
			<ul class="dropdown-menu" ng-include="'/partials/libraries/verbs.html'"></ul>
		</div>
	</legend>

	<div ng-if="loading" class="alert alert-info text-center">
		<h3><i class="fa fa-spinner fa-spin fa-1.5x"></i> Loading reference...</h3>
	</div>

	<form ng-if="!loading" ng-submit="submit()" class="form-horizontal">
		<legend>Reference details</legend>
		<div ng-controller="libraryListController" class="form-group">
			<label class="col-sm-2 control-label">Library</label>
			<div class="col-sm-10">
				<select ng-model="reference.library._id" class="form-control">
					<option ng-repeat="library in libraries track by library._id" value="{{library._id}}">{{library.title}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Tags</label>
			<div class="col-sm-10">
				<textarea ng-model="reference.tags" class="form-control"></textarea>
			</div>
		</div>
		<div ng-controller="referenceTypesController" class="form-group">
			<label class="col-sm-2 control-label">Type</label>
			<div class="col-sm-10">
				<select ng-model="reference.type" class="form-control">
					<option ng-repeat="type in types track by type.id" value="{{type.id}}">{{type.name}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Title</label>
			<div class="col-sm-10">
				<input ng-model="reference.title" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Authors</label>
			<div class="col-sm-10">
				<textarea ng-model="reference.authors" class="form-control"></textarea>
			</div>
		</div>

		<legend>Journal information</legend>
		<div class="form-group">
			<label class="col-sm-2 control-label">Journal</label>
			<div class="col-sm-10">
				<input ng-model="reference.journal" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Date</label>
			<div class="col-sm-10">
				FIXME
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Pages</label>
			<div class="col-sm-10">
				<input ng-model="reference.pages" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Volume</label>
			<div class="col-sm-10">
				<input ng-model="reference.volume" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Number</label>
			<div class="col-sm-10">
				<input ng-model="reference.number" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">ISBN</label>
			<div class="col-sm-10">
				<input ng-model="reference.isbn" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Label</label>
			<div class="col-sm-10">
				<input ng-model="reference.label" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Caption</label>
			<div class="col-sm-10">
				<input ng-model="reference.caption" type="text" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Address</label>
			<div class="col-sm-10">
				<input ng-model="reference.address" type="text" class="form-control"/>
			</div>
		</div>

		<legend>Web meta details</legend>
		<div class="form-group">
			<label class="col-sm-2 control-label">URLs</label>
			<div class="col-sm-10">
				<textarea ng-model="reference.urls" class="form-control"></textarea>
			</div>
		</div>

		<legend>Textual attachments</legend>
		<div class="form-group">
			<label class="col-sm-2 control-label">Abstract</label>
			<div class="col-sm-10">
				<textarea ng-model="reference.abstract" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Notes</label>
			<div class="col-sm-10">
				<textarea ng-model="reference.notes" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Research Notes</label>
			<div class="col-sm-10">
				<textarea ng-model="reference.researchNotes" class="form-control"></textarea>
			</div>
		</div>
		<div class="clearfix">
			<div class="pull-left">
				<a href="#/libraries/{{reference.library._id}}" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</a>
			</div>
			<div class="pull-right">
				<button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
			</div>
		</div>
	</form>
</div>
