<!-- WEBSITE PRELOADER-->
<div class="preloader">
	<div class="loading">Loading ...</div>
</div>
<!-- START HEADER-->
<header id="header" class="header novideo">
	<div class="full-screen">
		<!-- START STICKY NAVBAR-->
		<div class="navbar navbar-default navbar-fixed-top navbar-sticky">
			<div class="container">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">
						<img src="img/logo-dark.png" alt="">
					</a>
				</div>
				<!-- MENU-->
				<div id="navbar-main" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right main-navbar">
						<li><a href="#header">Home</a>
						</li>
						<li><a href="#features">Features</a>
						</li>
						<li><a href="#shots">Shots</a>
						</li>
						<li><a href="#plans">Plans</a>
						</li>
						<li>
							<a href="#download">
								<strong>Download</strong>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- END STICKY NAVBAR-->
		<div class="container">
			<!-- MAIN LOGO-->
			<div class="top-logo">
				<img src="img/logo.png" alt="">
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<!-- INTRO MESSAGE-->
					<div class="intro-section">
						<h1 class="intro">Responsive Bootstrap Admin Template</h1>
						<h5>Available on <a href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-app-angularjs-WB04HF123" class="buy-link">WrapBootstrap</a>
						</h5>
						<!-- DEMO BUTTON-->
						<div class="text-center"><a href="../../backend-angular/" class="btn btn-lg btn-theme"><i class="icon-app-download"></i><span> <strong>AngularJS </strong>Demo</span></a><a href="../../backend-jquery/" class="btn btn-lg btn-theme"><i class="icon-app-download"></i><span> <strong>jQuery </strong>Demo</span></a>
						</div>
					</div>
					<div class="intro-shot">
						<img src="img/header.shot.png" alt="Header shot" data-no-retina="" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- END HEADER-->
<!-- START APP SHOTS-->
<section class="versions">
	<div class="container">
		<!-- START SECTION HEADER-->
		<div data-wow-offset="120" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
			<!-- SECTION TITLE-->
			<h2>Multiple Versions</h2>
			<div class="section-description">Optional source files with LESS + JADE ready to build with Gulp</div>
		</div>
		<!-- END SECTION HEADER-->
		<div class="row bottom-space">
			<div class="col-md-4 text-center">
				<img src="img/versions/angularjs.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>AngularJS + Seed</h4>
				<p>
					<small>AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</small>
				</p><a href="../../backend-angular/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
			<div class="col-md-4 text-center">
				<img src="img/versions/html5.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>Static HTML5 + Seed</h4>
				<p>
					<small>A project based on jQuery and HTML5 for non Angular users. This version will simplify any integration with many other popular frameworks on the web.</small>
				</p><a href="../../backend-jquery/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
			<div class="col-md-4 text-center">
				<img src="img/versions/angular-material.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>Angular Material</h4>
				<p>
					<small>An implementation of Material Design in Angular.js with a set of reusable, well-tested, and accessible UI components based on the Material Design system.</small>
				</p><a href="../../material/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
		</div>
		<div class="row bottom-space">
			<div class="col-md-3 text-center">
				<img src="img/versions/vs.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>Visual Studio MVC5 + Seed</h4>
				<p>
					<small>MVC5 for Visual Studio 2013. Modular JavaScript and all assets bundle ready to use. Also featuring an Entity demo using the theme components.</small>
				</p><a href="http://themicon-001-site1.smarterasp.net/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
			<div class="col-md-3 text-center">
				<img src="img/versions/ror.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>Ruby on Rails + Seed</h4>
				<p>
					<small>Modular JavaScript and SASS stylesheets. Developed to serve assets per controller, avoid bloating your views with unnecessary requests. Heroku ready!.</small>
				</p><a href="https://angle-on-rails.herokuapp.com/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
			<div class="col-md-3 text-center">
				<img src="img/versions/meanjs.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>MeanJS Seed</h4>
				<p>
					<small>A full-stack JavaScript solution that helps you build fast, robust and maintainable web apps. Supports LESS, modular JavaScript and Swig templates.</small>
				</p><a href="https://angle-on-mean.herokuapp.com/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
			<div class="col-md-3 text-center">
				<img src="img/versions/meteor.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>MeteorJS</h4>
				<p>
					<small>Meteor is a complete open source platform for building web and mobile apps in pure JavaScript. Based on Node.js with support for LESS stylesheets.</small>
				</p><a href="https://45.55.64.191" class="btn btn-sm btn-default">Live Demo</a>
			</div>
		</div>
		<div class="text-center">
			<p>
				<img src="img/versions/sass.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated">Main projects also includes Sass version !</p>
		</div>
	</div>
</section>
<!-- START FEATURE LIST-->
<section id="features" class="features-list">
	<div class="container">
		<!-- START SECTION HEADER-->
		<div data-wow-offset="120" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
			<!-- SECTION TITLE-->
			<h2>Full of Features</h2>
			<div class="section-description">Donec mauris arcu, vestibulum ac hendrerit ut, convallis cursus libero.</div>
		</div>
		<!-- END SECTION HEADER-->
		<div class="row">
			<!-- START FEATURES LEFT-->
			<div class="col-md-4 col-sm-4 features-left">
				<!-- FEATURE-->
				<div class="feature">
					<!-- FEATURE ICON-->
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-random fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<!-- FEATURE TEXT-->
					<div class="feature-details">
						<h4 class="main-color">Responsive Layout</h4>
						<p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
					</div>
				</div>
				<!-- FEATURE-->
				<div class="feature">
					<!-- FEATURE ICON-->
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-rocket fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<!-- FEATURE TEXT-->
					<div class="feature-details">
						<h4 class="main-color">Bootstrap UI based</h4>
						<p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
					</div>
				</div>
				<!-- FEATURE-->
				<div class="feature">
					<!-- FEATURE ICON-->
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-crosshairs fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<!-- FEATURE TEXT-->
					<div class="feature-details">
						<h4 class="main-color">Cross Platform</h4>
						<p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magn.</p>
					</div>
				</div>
			</div>
			<!-- END FEATURES LEFT-->
			<!-- START MOBILE MOCKUP-->
			<div class="col-md-4 col-sm-4">
				<div data-wow-offset="120" data-wow-duration="1.3s" class="mockup-mobile wow fadeIn animated">
					<img src="img/iphone-minimal.png" alt="" data-no-retina>
				</div>
			</div>
			<!-- END MOBILE MOCKUP-->
			<!-- START FEATURES RIGHT-->
			<div class="col-md-4 col-sm-4 features-right">
				<!-- FEATURE-->
				<div class="feature">
					<!-- FEATURE ICON-->
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-moon-o fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<!-- FEATURE TEXT-->
					<div class="feature-details">
						<h4 class="main-color">Lazy load Assets</h4>
						<p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
					</div>
				</div>
				<!-- FEATURE-->
				<div class="feature">
					<!-- FEATURE ICON-->
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-sitemap fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<!-- FEATURE TEXT-->
					<div class="feature-details">
						<h4 class="main-color">UI Router States</h4>
						<p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
					</div>
				</div>
				<!-- FEATURE-->
				<div class="feature">
					<!-- FEATURE ICON-->
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-wrench fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<!-- FEATURE TEXT-->
					<div class="feature-details">
						<h4 class="main-color">Great Build Tools</h4>
						<p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.</p>
					</div>
				</div>
			</div>
			<!-- END FEATURES RIGHT-->
		</div>
	</div>
</section>
<!-- END FEATURE LIST-->
<!-- START PIC TEXT LEFT-->
<section id="desc2" class="pic-text pic-text-left">
	<div class="container">
		<div class="row">
			<!-- LEFT PIC-->
			<div data-wow-offset="15" data-wow-duration="1.2s" class="col-md-6 wow fadeInLeft animated">
				<div class="mockup-mobile">
					<img src="img/ipad-air.png" alt="" data-no-retina>
				</div>
			</div>
			<!-- RIGHT TEXT-->
			<div class="col-md-6">
				<!-- SECTION TITLE-->
				<h2>Mobile first approach</h2>
				<p>Nulla feugiat tempor lorem, in vehicula tortor consequat sed. Ut consectetur ullamcorper purus a rutrum. Mauris ut est lorem. Cras pellentesque, est ac faucibus tincidunt, nunc urna vestibulum nulla, in luctus ligula purus in eros.</p>
				<!-- FEATURE LIST-->
				<ul class="featured-list">
					<li>
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-code fa-stack-1x fa-inverse"></em>
						</span>
						<p>Well organized &amp; commented code</p>
					</li>
					<li>
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-bullhorn fa-stack-1x fa-inverse"></em>
						</span>
						<p>LESS, JADE &amp; modular Javascript</p>
					</li>
					<li>
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-compass fa-stack-1x fa-inverse"></em>
						</span>
						<p>Multiple layout options</p>
					</li>
					<li>
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-paint-brush fa-stack-1x fa-inverse"></em>
						</span>
						<p>Multiple color options</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- END PIC TEXT LEFT-->
<!-- START PIC TEXT RIGHT-->
<section id="desc1" class="pic-text pic-text-right">
	<div class="container">
		<div class="row">
			<!-- LEFT TEXT-->
			<div class="col-md-6">
				<!-- SECTION TITLE-->
				<h2>Translation ready and RTL support</h2>
				<p>Suspendisse luctus, nisl a venenatis sagittis, ante odio pellentesque erat, ac bibendum felis est quis odio. Pellentesque odio purus, egestas ac luctus gravida, rutrum ut quam. Cras tristique metus nec diam ornare vitae placerat sapien
					pellentesque.</p>
				<p>Praesent nec metus eu urna tempor varius id quis mauris. Mauris porttitor tincidunt odio, id facilisis tortor auctor et. In urna nisl, convallis et malesuada quis, scelerisque at est.</p>
				<p>Vivamus et urna magna. Suspendisse tincidunt orci nec arcu semper imperdiet volutpat elit faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					<br>
					<br>
				</p>
				<p>
					<em>Laoreet vitae pretium eget, lobortis sit amet ante.</em>
				</p>
			</div>
			<!-- RIGHT PIC-->
			<div data-wow-offset="15" data-wow-duration="1.2s" class="col-md-6 wow fadeInRight animated">
				<div class="mockup-mobile">
					<img src="img/iphone-angle.png" alt="" data-no-retina>
				</div>
			</div>
			<!-- /END PHONES IMAGE-->
		</div>
	</div>
</section>
<!-- END PIC TEXT RIGHT-->
<!-- START APP SHOTS-->
<section id="shots" class="appshots">
	<div class="container">
		<!-- SECTION HEADER-->
		<div class="section-header">
			<h2>App Shots</h2>
			<div class="section-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</div>
		</div>
		<!-- END SECTION HEADER-->
		<div class="row">
			<div id="appshots" class="owl-carousel owl-theme">
				<div class="shot">
					<a href="img/shots/01.jpg" data-lightbox-gallery="appshots">
						<img src="img/shots/01.jpg" alt="App Shot" data-no-retina>
					</a>
				</div>
				<div class="shot">
					<a href="img/shots/03.jpg" data-lightbox-gallery="appshots">
						<img src="img/shots/03.jpg" alt="App Shot" data-no-retina>
					</a>
				</div>
				<div class="shot">
					<a href="img/shots/02.jpg" data-lightbox-gallery="appshots">
						<img src="img/shots/02.jpg" alt="App Shot" data-no-retina>
					</a>
				</div>
				<div class="shot">
					<a href="img/shots/04.jpg" data-lightbox-gallery="appshots">
						<img src="img/shots/04.jpg" alt="App Shot" data-no-retina>
					</a>
				</div>
				<div class="shot">
					<a href="img/shots/01.jpg" data-lightbox-gallery="appshots">
						<img src="img/shots/01.jpg" alt="App Shot" data-no-retina>
					</a>
				</div>
				<div class="shot">
					<a href="img/shots/03.jpg" data-lightbox-gallery="appshots">
						<img src="img/shots/03.jpg" alt="App Shot" data-no-retina>
					</a>
				</div>
				<div class="shot">
					<a href="img/shots/02.jpg" data-lightbox-gallery="appshots">
						<img src="img/shots/02.jpg" alt="App Shot" data-no-retina>
					</a>
				</div>
				<div class="shot">
					<a href="img/shots/04.jpg" data-lightbox-gallery="appshots">
						<img src="img/shots/04.jpg" alt="App Shot" data-no-retina>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END APP SHOTS-->
<!-- START TESTIMONIAL SLIDER-->
<section id="feedbacks" class="feedbacks">
	<div data-wow-offset="15" data-wow-duration="1.3s" class="container wow fadeIn animated">
		<div id="feedback-carousel" class="owl-carousel owl-theme text-center">
			<!-- FEEDBACK-->
			<div class="feedback-client">
				<div class="feedback-client-picture">
					<img src="img/clients/01.jpg" alt="" data-no-retina class="img-thumbnail img-circle">
				</div>
				<div class="feedback-client-msg">Etiam feugiat risus massa. Etiam nisi dui, sodales ut dignissim vitae, eleifend non nisi. Donec ipsum enim, fermentum sed viverra et, vulputate eget libero. Sed elementum venenatis ullamcorper. Phasellus faucibus placerat luctus.</div>
				<div
				class="feedback-client-name">Martin Fowler</div>
			<div class="feedback-client-company">Artist, Ngcompany</div>
		</div>
		<!-- FEEDBACK-->
		<div class="feedback-client">
			<div class="feedback-client-picture">
				<img src="img/clients/02.jpg" alt="" data-no-retina class="img-thumbnail img-circle">
			</div>
			<div class="feedback-client-msg">Etiam feugiat risus massa. Etiam nisi dui, sodales ut dignissim vitae, eleifend non nisi. Donec ipsum enim, fermentum sed viverra et, vulputate eget libero. Sed elementum venenatis ullamcorper. Phasellus faucibus placerat luctus.</div>
			<div
			class="feedback-client-name">Mathew Rogers</div>
		<div class="feedback-client-company">Designer, Ngcompany</div>
	</div>
	<!-- FEEDBACK-->
	<div class="feedback-client">
		<div class="feedback-client-picture">
			<img src="img/clients/03.jpg" alt="" data-no-retina class="img-thumbnail img-circle">
		</div>
		<div class="feedback-client-msg">Etiam feugiat risus massa. Etiam nisi dui, sodales ut dignissim vitae, eleifend non nisi. Donec ipsum enim, fermentum sed viverra et, vulputate eget libero. Sed elementum venenatis ullamcorper. Phasellus faucibus placerat luctus.</div>
		<div class="feedback-client-name">Bradley Jimenez</div>
		<div class="feedback-client-company">Coder, Ngcompany</div>
	</div>
	</div>
	</div>
</section>
<!-- END TESTIMONIAL SLIDER-->
<!-- START PLAN TABLE-->
<section id="plans" class="plan-table">
	<div class="container">
		<!-- SECTION HEADER-->
		<div data-wow-offset="15" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
			<h2>Available Options</h2>
			<div class="section-description"> <u>Pay once</u>, get lifetime <u>free updates.</u>
			</div>
		</div>
		<!-- END SECTION HEADER-->
		<div class="row">
			<!-- PLAN-->
			<div data-wow-offset="15" data-wow-duration="1.3s" class="col-md-4 col-sm-4 wow fadeIn animated">
				<div class="plan">
					<h3 class="plan-header">Single</h3>
					<div class="plan-price">
						<h2><sup><small>$</small></sup>18
							<!-- span.plan-period /mo-->
						</h2>
					</div>
					<ul class="plan-features">
						<li>
							<em class="fa fa-check"></em>Unlimited Styles</li>
						<li>
							<em class="fa fa-check"></em>RTL &amp; Translation</li>
						<li>
							<em class="fa fa-check"></em>Customer support</li>
						<li>
							<em class="fa fa-check"></em>Free Updates</li>
						<li>
							<em class="fa fa-check"></em>Limited to one client</li>
						<li>
							<em class="fa fa-times plan-feature-disable"></em>Multiple installation</li>
						<li>
							<em class="fa fa-times plan-feature-disable"></em>Not ready for resale</li>
					</ul>
					<hr>
					<div class="text-center">
						<button type="button" class="btn btn-theme">Choose</button>
					</div>
				</div>
			</div>
			<!-- PLAN-->
			<div data-wow-offset="15" data-wow-duration="1.3s" class="col-md-4 col-sm-4 wow fadeIn animated">
				<div class="plan">
					<h3 class="plan-header">Multiple</h3>
					<div class="plan-price">
						<h2><sup><small>$</small></sup>54
							<!-- span.plan-period /mo-->
						</h2>
					</div>
					<ul class="plan-features">
						<li>
							<em class="fa fa-check"></em>Unlimited Styles</li>
						<li>
							<em class="fa fa-check"></em>RTL &amp; Translation</li>
						<li>
							<em class="fa fa-check"></em>Customer support</li>
						<li>
							<em class="fa fa-check"></em>Free Updates</li>
						<li>
							<em class="fa fa-check"></em>Unlimited clients</li>
						<li>
							<em class="fa fa-check"></em>Multiple installation</li>
						<li>
							<em class="fa fa-times plan-feature-disable"></em>Not ready for resale</li>
					</ul>
					<hr>
					<p class="plan-description">The perfect price for all your project solutions.</p>
					<div class="text-center">
						<button type="button" class="btn btn-theme">Choose</button>
					</div>
				</div>
			</div>
			<!-- PLAN-->
			<div data-wow-offset="15" data-wow-duration="1.3s" class="col-md-4 col-sm-4 wow fadeIn animated">
				<div class="plan">
					<h3 class="plan-header">Extended</h3>
					<div class="plan-price">
						<h2><sup><small>$</small></sup>900
							<!-- span.plan-period /mo-->
						</h2>
					</div>
					<ul class="plan-features">
						<li>
							<em class="fa fa-check"></em>Unlimited Styles</li>
						<li>
							<em class="fa fa-check"></em>RTL &amp; Translation</li>
						<li>
							<em class="fa fa-check"></em>Customer support</li>
						<li>
							<em class="fa fa-check"></em>Free Updates</li>
						<li>
							<em class="fa fa-check"></em>Unlimited clients</li>
						<li>
							<em class="fa fa-check"></em>Multiple installation</li>
						<li>
							<em class="fa fa-check"></em>Ready for resale</li>
					</ul>
					<hr>
					<div class="text-center">
						<button type="button" class="btn btn-theme">Choose</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END PLAN TABLE-->
<!-- START DOWNLOAD-->
<section id="download" class="download">
	<div class="container">
		<h2 data-wow-offset="15" data-wow-duration="1.2s" class="wow fadeInDown animated">Get this app now on</h2>
		<div data-wow-offset="15" data-wow-duration="1.2s" class="wow fadeInUp animated">
			<a href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-app-angularjs-WB04HF123" class="btn btn-lg btn-theme">
				<em class="fa fa-apple"></em>Itunes Store</a>
			<a href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-app-angularjs-WB04HF123" class="btn btn-lg btn-theme">
				<em class="fa fa-android"></em>Play Store</a>
		</div>
	</div>
</section>
<!-- END DOWNLOAD-->
<!-- START PLAN TABLE-->
<section id="contact" class="contact">
	<div class="container">
		<!-- SECTION HEADER-->
		<div data-wow-offset="15" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
			<h2>Get in contact with Us</h2>
			<div class="text-center">
				<address>
					<strong>Twitter, Inc.</strong>
					<br>795 Folsom Ave, Suite 600
					<br>San Francisco, CA 94107
					<br>
					<abbr title="Phone">P:</abbr>(123) 456-7890</address>
			</div>
		</div>
		<div class="row">
			<img src="img/contact.map.jpg" alt="Map" data-no-retina class="img-responsive img-rounded">
		</div>
		<!-- SOCIAL SHARE-->
		<ul class="list-icons">
			<li>
				<a href="">
					<em class="fa fa-twitter-square"></em>
				</a>
			</li>
			<li>
				<a href="">
					<em class="fa fa-facebook-square"></em>
				</a>
			</li>
			<li>
				<a href="">
					<em class="fa fa-google-plus-square"></em>
				</a>
			</li>
			<li>
				<a href="">
					<em class="fa fa-instagram"></em>
				</a>
			</li>
			<li>
				<a href="">
					<em class="fa fa-flickr"></em>
				</a>
			</li>
			<li>
				<a href="">
					<em class="fa fa-pinterest-square"></em>
				</a>
			</li>
		</ul>
	</div>
</section>
<!-- START FOOTER-->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<ul class="footer-nav">
					<li><a href="#header" class="scrollto">Home</a>
					</li>
					<li><a href="#features" class="scrollto">Features</a>
					</li>
					<li><a href="#plans" class="scrollto">Plans</a>
					</li>
					<li><a href="#download" class="scrollto">Download</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<!-- COPYRIGHT-->
				<p class="copyright">Angle &copy; 2015</p>
			</div>
		</div>
	</div>
</footer>
<!-- END FOOTER-->
