<!-- Preloader {{{ -->
<div class="preloader">
	<div class="loading">Loading ...</div>
</div>
<!-- }}} -->
<!-- Header {{{ -->
<header id="header" class="header novideo">
	<div class="full-screen">
		<!-- Sticky NavBar {{{ -->
		<div class="navbar navbar-default navbar-fixed-top navbar-sticky">
			<div class="container">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">
						<img src="img/logo-dark.png" alt="">
					</a>
				</div>
				<!-- MENU-->
				<div id="navbar-main" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right main-navbar">
						<li><a href="#header">Home</a></li>
						<li><a href="#features">Features</a></li>
						<li><a href="#contact">Contact Us</a></li>
						<li>
							<a href="/login">
								<strong>Login</strong>
							</a>
						</li>
						<li>
							<a href="/signup">
								<strong>Sign-up</strong>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- }}} -->
		<!-- Landing screen {{{ -->
		<div class="container">
			<div class="top-logo">
				<img src="img/logo.png" alt="">
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<!-- INTRO MESSAGE-->
					<div class="intro-section">
						<h1 class="intro">Systematic Review Accelerator</h1>
						<h5>From the <a href="http://bond.edu.au" class="buy-link">Bond University</a> <a href="http://www.crebp.net.au" class="buy-link">Centre for Research in Evidence-Based Practice</a>
						</h5>
						<div class="text-center">
							<a href="/login" class="btn btn-lg btn-theme">
								<span> <strong>Login </strong> to an existing account</span>
							</a>
							<a href="/signup" class="btn btn-lg btn-theme">
								<span> <strong>Sign-up </strong> a new account</span>
							</a>
						</div>
					</div>
					<div class="intro-shot">
						<img src="img/header.shot.png" alt="Header shot" data-no-retina="" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
		<!-- }}} -->
	</div>
</header>
<!-- }}} -->
<!-- START APP SHOTS-->
<section class="versions">
	<div class="container">
		<!-- START SECTION HEADER-->
		<div data-wow-offset="120" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
			<!-- SECTION TITLE-->
			<h2>Multiple Versions</h2>
			<div class="section-description">Optional source files with LESS + JADE ready to build with Gulp</div>
		</div>
		<!-- END SECTION HEADER-->
		<div class="row bottom-space">
			<div class="col-md-4 text-center">
				<img src="img/versions/angularjs.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>AngularJS + Seed</h4>
				<p>
					<small>AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</small>
				</p><a href="../../backend-angular/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
			<div class="col-md-4 text-center">
				<img src="img/versions/html5.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>Static HTML5 + Seed</h4>
				<p>
					<small>A project based on jQuery and HTML5 for non Angular users. This version will simplify any integration with many other popular frameworks on the web.</small>
				</p><a href="../../backend-jquery/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
			<div class="col-md-4 text-center">
				<img src="img/versions/angular-material.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>Angular Material</h4>
				<p>
					<small>An implementation of Material Design in Angular.js with a set of reusable, well-tested, and accessible UI components based on the Material Design system.</small>
				</p><a href="../../material/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
		</div>
		<div class="row bottom-space">
			<div class="col-md-3 text-center">
				<img src="img/versions/vs.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>Visual Studio MVC5 + Seed</h4>
				<p>
					<small>MVC5 for Visual Studio 2013. Modular JavaScript and all assets bundle ready to use. Also featuring an Entity demo using the theme components.</small>
				</p><a href="http://themicon-001-site1.smarterasp.net/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
			<div class="col-md-3 text-center">
				<img src="img/versions/ror.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>Ruby on Rails + Seed</h4>
				<p>
					<small>Modular JavaScript and SASS stylesheets. Developed to serve assets per controller, avoid bloating your views with unnecessary requests. Heroku ready!.</small>
				</p><a href="https://angle-on-rails.herokuapp.com/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
			<div class="col-md-3 text-center">
				<img src="img/versions/meanjs.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>MeanJS Seed</h4>
				<p>
					<small>A full-stack JavaScript solution that helps you build fast, robust and maintainable web apps. Supports LESS, modular JavaScript and Swig templates.</small>
				</p><a href="https://angle-on-mean.herokuapp.com/" class="btn btn-sm btn-default">Live Demo</a>
			</div>
			<div class="col-md-3 text-center">
				<img src="img/versions/meteor.png" alt="" data-no-retina="" data-wow-offset="15" data-wow-duration=".5s" class="wow zoomIn animated img-responsive version-pic">
				<h4>MeteorJS</h4>
				<p>
					<small>Meteor is a complete open source platform for building web and mobile apps in pure JavaScript. Based on Node.js with support for LESS stylesheets.</small>
				</p><a href="https://45.55.64.191" class="btn btn-sm btn-default">Live Demo</a>
			</div>
		</div>
	</div>
</section>
<!-- Features {{{ -->
<section id="features" class="features-list">
	<div class="container">
		<div data-wow-offset="120" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
			<h2>Features</h2>
			<div class="section-description">Everything you need to create a systematic review quickly and easily</div>
		</div>
		<div class="row">
			<!-- Features / Left {{{ -->
			<div class="col-md-4 col-sm-4 features-left">
				<div class="feature">
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-tags fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<div class="feature-details">
						<h4 class="main-color">Reference library management</h4>
						<p>Integrated reference management to make managing your projects easier</p>
					</div>
				</div>
				<div class="feature">
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-rocket fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<div class="feature-details">
						<h4 class="main-color">Translate search terms</h4>
						<p>Use the Polyglot search syntax translator to write a search stratergy once for multiple platforms.</p>
					</div>
				</div>
				<div class="feature">
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-crosshairs fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<div class="feature-details">
						<h4 class="main-color">Cross Platform</h4>
						<p>Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magn.</p>
					</div>
				</div>
			</div>
			<!-- }}} -->
			<!-- Feature image {{{ -->
			<div class="col-md-4 col-sm-4">
				<div data-wow-offset="120" data-wow-duration="1.3s" class="mockup-mobile wow fadeIn animated">
					<img src="/img/iphone-minimal.png" alt="" data-no-retina>
				</div>
			</div>
			<!-- }}} -->
			<!-- Features / Right {{{ -->
			<div class="col-md-4 col-sm-4 features-right">
				<div class="feature">
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-compress fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<div class="feature-details">
						<h4 class="main-color">Deduplicator</h4>
						<p>Remove duplicates references from multiple sources and choose between conflicting data.</p>
					</div>
				</div>
				<div class="feature">
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-envelope-o fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<div class="feature-details">
						<h4 class="main-color">Automated journal requests</h4>
						<p>Quickly request journals from your institution library</p>
					</div>
				</div>
				<div class="feature">
					<div data-wow-offset="15" data-wow-duration="1.3s" class="feature-icon wow fadeIn animated">
						<span class="fa-stack fa-lg">
							<em class="fa fa-circle fa-stack-2x"></em>
							<em class="fa fa-share fa-stack-1x fa-inverse"></em>
						</span>
					</div>
					<div class="feature-details">
						<h4 class="main-color">Compare libraries</h4>
						<p>Compare libraries with collegues to see differences during processes like screening</p>
					</div>
				</div>
			</div>
			<!-- }}} -->
		</div>
	</div>
</section>
<!-- }}} -->
<!-- START DOWNLOAD-->
<section id="download" class="download">
	<div class="container">
		<h2 data-wow-offset="15" data-wow-duration="1.2s" class="wow fadeInDown animated">Get this app now on</h2>
		<div data-wow-offset="15" data-wow-duration="1.2s" class="wow fadeInUp animated">
			<a href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-app-angularjs-WB04HF123" class="btn btn-lg btn-theme">
				<em class="fa fa-apple"></em>Itunes Store</a>
			<a href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-app-angularjs-WB04HF123" class="btn btn-lg btn-theme">
				<em class="fa fa-android"></em>Play Store</a>
		</div>
	</div>
</section>
<!-- END DOWNLOAD-->
<!-- Contact Us {{{ -->
<section id="contact" class="contact">
	<div class="container">
		<div data-wow-offset="15" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
			<h2>Get in contact with Us</h2>
			<p>Have feedback or comments, please email <a href="mailto:matt_carter@bond.edu.au">matt_carter@bond.edu.au</a></p>
		</div>
	</div>
</section>
<!-- }}} -->
<!-- START FOOTER-->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<ul class="footer-nav">
					<li><a href="#header">Home</a></li>
					<li><a href="#features">Features</a></li>
					<li><a href="#contact">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-sm-6">
				<p class="copyright">
					<a href="http://bond.edu.au">Bond University</a> <a href="http://www.crebp.net.au">Centre for Research in Evidence-Based Practice</a> &copy; 2016
				</p>
			</div>
		</div>
	</div>
</footer>
<!-- END FOOTER-->
