<div class="wrapper">
	<div class="content-center">
		<div class="panel panel-dark panel-flat">
			<div class="panel-heading text-center">
				<a href="#">
					<img src="img/logo.png" alt="Image" class="block-center img-rounded">
				</a>
			</div>
			<div class="panel-body">
				<p class="text-center pv">Sign in to continue</p>
				<form role="form">
					<div class="form-group has-feedback">
						<input id="exampleInputEmail1" type="email" autofocus placeholder="Email address" required class="form-control"/>
						<span class="fa fa-envelope form-control-feedback text-muted"></span>
					</div>
					<div class="form-group has-feedback">
						<input id="exampleInputPassword1" type="password" placeholder="Password" required class="form-control"/>
						<span class="fa fa-lock form-control-feedback text-muted"></span>
					</div>
					<button type="submit" class="btn btn-block btn-sm btn-primary">Login</button>
				</form>

				<p class="text-center pad-top-lg"><a href="recover.html" class="text-muted">Forgot your password?</a></p>
				<p class="text-center"><a href="/signup">Need to Signup?</a></p>
			</div>
		</div>
	</div>
</div>
