<div class="pad">
	<div class="hero-unit">
		<h1>About Us - CREBP SRA</h1>
		<br> 
            <p> The CREBP SRA is a suite of tools to speed up steps in the Systematic Review (SR) process. 
            We are based at <a href="https://www.crebp.net.au" target="_blank"> Centre for Research in Evidence-Based Practice</a>, Bond University. 
            <br>
            The SRA is freely available for anyone in the world to use. Simply <a href="#/signup" target="_blank">register here</a> with your name and email address. 
            The SRA is a modular design which means the individual tools can be incorporated into existing SR workflows and combined with other automation tools. </p>
		<br>
            <p>Our tools are being continually reviewed and refined with additional tools being developed. 
            <a href="#/contact" target="_blank"> Contant Us </a> or email a team member below to suggest improvements or report problems. </p>
		<p>&nbsp;</p>
        <p>The Team</p>
        <br>
        <table>
        <tbody>
        <tr>
        <td><a href="https://research.bond.edu.au/en/persons/alexandra-bannach-brown" target="_blank">Alexandra Bannach-Brown</a></td>
        <td>&nbsp;</td>
        <td>Research Fellow in Automation of Systematic Reviews</td>
        </tr>
        <tr>
        <td><a href="https://bond.edu.au/profile/matt-carter" target="_blank">Matt Carter</a></td>
        <td>&nbsp;</td>
        <td>Software & Development Officer</td>
        </tr>
        <tr>
        <td><a href="https://bond.edu.au/profile/justin-clark" target="_blank">Justin Clark</a></td>
        <td>&nbsp;</td>
        <td>Senior Information Specialist</td>
        </tr>
        <tr>
        <td>Connor Forbes</td>
        <td>&nbsp;</td>
        <td>Software & Development Officer</td>
        </tr>
        <tr>
        <td><a href="https://research.bond.edu.au/en/persons/paul-glasziou" target="_blank">Paul Glasziou</a></td>
        <td>&nbsp;</td>
        <td>Director of Centre for Research in Evidence-Based Practice</td>
        </tr>
        </tbody>
        </table>
	    </div>
</div>
