<div ng-controller="userSignupController" class="row-fluid">
	<form ng-submit="submit()" class="login-layout">
		<div ng-show="errors.length" class="alert alert-warning pad">
			<ul>
				<li ng-repeat="error in errors">{{error.text}}</li>
			</ul>
		</div>
		<div class="login-container">
			<div class="row-fluid">
				<div class="position-relative">
					<div id="login-box" class="login-box visible widget-box no-border">
						<div class="widget-body">
							<div class="widget-main">
								<h4 class="header blue lighter bigger">
									<i class="fa fa-coffee green"></i>
									Please Enter Your Information
								</h4>

								<div class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-3 control-label">Your name</label>
										<div class="col-sm-9">
											<input type="text" ng-model="signup.name" placeholder="John Smith" autofocus class="form-control"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Email</label>
										<div class="col-sm-9">
											<input type="text" ng-model="signup.email" placeholder="someone@somewhere.com" class="form-control"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Password</label>
										<div class="col-sm-9">
											<input type="password" ng-model="signup.password" placeholder="Password" class="form-control"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">and again</label>
										<div class="col-sm-9">
											<input type="password" ng-model="signup.password2" placeholder="Password again" class="form-control"/>
										</div>
									</div>
									<div class="form-group text-center">
										<button type="submit" class="btn btn-sm btn-primary">
											<i class="fa fa-key"></i>
											Create Account
										</button>
									</div>
								</div>
							</div>

							<div class="toolbar clearfix">
								<div>
									<a href="#/login" class="user-signup-link">
										<i class="fa fa-arrow-left"></i>
										I want to login
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
